mixin arrow-link(width='11px', color="rgb(0,0,0)")
	svg.arrow-link(width="#{width}" viewBox="0 0 11 11")
		path(fill-rule="evenodd" stroke="#{color}" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M0.499,10.040 L10.028,0.496 ")
		path(fill-rule="evenodd" stroke="#{color}" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M0.499,0.496 L10.314,0.496 L10.314,10.325 ")