// Default style
html{
	@include border-box;
	@include unselectable;
	@include smoothFont;
}

*, *:before, *:after{
	box-sizing: inherit;
	user-select: inherit;
	text-rendering: inherit;
    -moz-osx-font-smoothing: inherit;
    font-smoothing: inherit;
    -webkit-font-smoothing: inherit;
}

body{
	font-size: 16px;
	color: $black-gray;
	// background-color: #202020;
	background-color: #fff;

	@media (min-width: 768px) {
		font-size: 20px;
		// font-size: 1.04vw;
	}
}

body, h1, h2, h3, h4, h5, h6, p, section, div, nav, ul, li, button, figure, input, textarea{
	margin: 0;
	padding: 0;
}

ul, li{
	list-style-type: none;
}

button{
	background: none;
	border: none;
	outline: none;
}

canvas{
	// position: absolute;
	position: fixed;
	pointer-events: none;
	cursor: none;
	mix-blend-mode: difference;
}

#preloader{
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

#main-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
}

.page-wrapper{
	position: relative;
	width: 100%;
	min-height: 100%;
	// height: 100%;
	padding-bottom: 50px;

	&.has-menu{
		padding-right: 100px;

		@include bigdesktop {
			padding-right: 120px;
		}

		@media (min-width: 1441px) {
			padding-right: 140px;
		}

		@include fulldesktop {
			padding-right: 0;
		}
		
		@include mobile {
			padding: 0 0 15px;
		}
	}
}

.page-name{
	z-index: 10;
	font-family: 'Saol';
	font-size: 16px;
	font-weight: 100;

	@include desktop {
		font-size: .8em;
	}

	&.top{
		position: absolute;
		// top: 15px;
		top: 20px;
		// right: 6%;
		// right: 3.3%;
		right: 15px;

		@include desktop {
			// right: 4%;
			right: 7.3%;
			top: 50px;
		}

		// @media (min-width: 1441px){
		@include bigdesktop {
			top: 46px;
		}

		@media (min-width: 1700px){
			right: 0;
		}

		@include fulldesktop {
			top: 57px;
		}
	}
}

.inner-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
}

.p-link, .p-link-invert, .p-mask-link{
	position: relative;
	color: inherit;
	text-decoration: none;
	white-space: nowrap;
}

.p-link{
	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: 2px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $black-gray;
		@include scale(1,1);
		@include transform-origin(center, left);
		@include ease-target(transform, .4s);
	}

	&:hover{
		&:after{
			@include scale(0,1);
			@include transform-origin(center, right);
		}
	}
}

.p-link-invert{
	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: 2px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $black-gray;
		@include scale(0,1);
		@include transform-origin(center, right);
		@include ease-target(transform, .4s);
	}

	&:hover{
		&:after{
			@include scale(1,1);
			@include transform-origin(center, left);
		}
	}
}

.p-mask-link{
	&:before{
		content: attr(data-label);
		position: absolute;
		right: 0;
		width: 0;
		text-align: right;
		direction: rtl;
		overflow: hidden;
		@include transitions-ease(.4s);
	}

	.link{
		opacity: .5;
		@include transitions-ease(.3s);
	}

	&:hover{
		&:before{
			width: 100%;
			left: 0;
			direction: ltr;
			text-align: left;
		}

		.link{
			// opacity: 0.1;
			opacity: .3;
		}
	}
}


img {
	max-width: 100%;
}

#vertical-block{
	display: none;

	@media (min-width: 768px) and (orientation: portrait) {
		z-index: 999999999;
		position: fixed;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		background-color: $intro-bg;
		@include flexIt;
		@include flex-alignCenter;

		p{
			width: 100%;
			font-family: 'Saol';
			font-size: 32px;
			font-weight: 400;
			text-align: center;
		}
	}
}