@mixin border-box{
	box-sizing: border-box;
}
@mixin content-box{
	box-sizing: content-box;
}


$mobile-max-width: 991px;
$desktop-width: 992px;
$big-desktop-width: 1200px;
$full-desktop-width: 1750px;

@mixin mobile {
  @media (max-width: #{$mobile-max-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin bigdesktop {
  @media (min-width: #{$big-desktop-width}) {
    @content;
  }
}

@mixin fulldesktop {
  @media (min-width: #{$full-desktop-width}) {
    @content;
  }
}

@mixin smoothFont{
	text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

@mixin transitions-ease($timing){
	-webkit-transition: all $timing cubic-bezier(.3,0,.2,1);
	-o-transition: all $timing cubic-bezier(.3,0,.2,1);
	-moz-transition: all $timing cubic-bezier(.3,0,.2,1);
	transition: all $timing cubic-bezier(.3,0,.2,1);
}
@mixin trans-delayed($timing, $delay){
	-webkit-transition: all $timing cubic-bezier(.3,0,.2,1) $delay;
	-o-transition: all $timing cubic-bezier(.3,0,.2,1) $delay;
	-moz-transition: all $timing cubic-bezier(.3,0,.2,1) $delay;
	transition: all $timing cubic-bezier(.3,0,.2,1) $delay;
}
@mixin trans-delayed-transform($timing, $delay){
	-webkit-transition: -webkit-transform $timing cubic-bezier(.3,0,.2,1) $delay;
	transition: -webkit-transform $timing cubic-bezier(.3,0,.2,1) $delay;
	-o-transition: -o-transform $timing cubic-bezier(.3,0,.2,1) $delay;
	-moz-transition: transform $timing cubic-bezier(.3,0,.2,1) $delay, -moz-transform $timing cubic-bezier(.3,0,.2,1) $delay;
	transition: transform $timing cubic-bezier(.3,0,.2,1) $delay;
	transition: transform $timing cubic-bezier(.3,0,.2,1) $delay, -webkit-transform $timing cubic-bezier(.3,0,.2,1) $delay, -moz-transform $timing cubic-bezier(.3,0,.2,1) $delay, -o-transform $timing cubic-bezier(.3,0,.2,1) $delay;
}
@mixin ease-long-transform($timing){
	
	        transition: all $timing cubic-bezier(.165,.84,.44,1);
}

@mixin transitions-bounce($timing){
	
	        transition: all $timing cubic-bezier(.3,0,.2,3);
}

@mixin ease-target($target, $timing){
	
	        transition: $target $timing cubic-bezier(.3,0,.2,1);
}

@mixin trans-delay($timing){
	-webkit-transition-delay: $timing;
	-moz-transition-delay: $timing;
	-o-transition-delay: $timing;
	transition-delay: $timing;
}

@mixin transform-origin($X, $Y){
	-webkit-transform-origin: $X $Y;
	-moz-transform-origin: $X $Y;
	-ms-transform-origin: $X $Y;
	-o-transform-origin: $X $Y;
	transform-origin: $X $Y;
}

@mixin translate($Xmove, $Ymove){
	transform: translate($Xmove, $Ymove);
}

@mixin rotate($degs){
	transform: rotate($degs);
}

@mixin skew($degs){
            transform: skew($degs)
}

@mixin translate-rotate($Xmove, $Ymove, $degs){
	transform: translate($Xmove, $Ymove) rotate($degs);
}

@mixin translate-scale($Xmove, $Ymove, $Xscale, $Yscale){
	transform: translate($Xmove, $Ymove) scale($Xscale, $Yscale);
}

@mixin scale($X, $Y){
	transform: scale($X, $Y);
}

@mixin flexIt{
	display: flex;
}

@mixin flexOrder($index){
	order: $index;
}

@mixin flexWrap($wraptype){
	flex-wrap: $wraptype;
}

@mixin flex-direction($direction){
	@if $direction == vertical {
		flex-direction: column;
	}

	@else {
		flex-direction: row;
	}
}

@mixin flex-spacebetween{
	justify-content: space-between;
}

@mixin flex-alignCenter{
	align-items: center;
}
@mixin flex-alignBottom{
	align-content: flex-end;
}

@mixin flex-grow($ratio){
	flex-grow: $ratio;
}

@mixin flex-stretch{
	align-items: stretch;
}
@mixin flexself-stretch{
	align-self: stretch;
}

@mixin unselectable{
	user-select: none;
}

@mixin animation($name, $duration){
	-webkit-animation: $name $duration cubic-bezier(.3,0,.2,1) forwards;
	-moz-animation: $name $duration cubic-bezier(.3,0,.2,1) forwards;
	-o-animation: $name $duration cubic-bezier(.3,0,.2,1) forwards;
	animation: $name $duration cubic-bezier(.3,0,.2,1) forwards;
}

@mixin ani-name($name){
	-webkit-animation-name: $name;
	-moz-animation-name: $name;
	-o-animation-name: $name;
	animation-name: $name;
}







