.mask-container {
	position: relative;
	vertical-align: top;
	display: inline-block;
	overflow: hidden;
	// height: 100%;

	&.padded-r {
		padding-right: 15px;
		// padding-bottom: 15px;
		@include content-box;
	}
	span,
	.up-in {
		position: relative;
		display: block;
		@include translate(0, 112%);
		@include transitions-ease(1s);
		opacity: .5;
		&.active {
			@include translate(0, 0);
			opacity: 1;
		}
	}
	&.mask-menu {
		display: block;
		span {
			@include transitions-ease(600ms);
		}
	}
	&.active {
		span {
			@include translate(0, 0);
			opacity: 1;
		}
	}
}
