// Brand colors
$intro-bg: #ffeee2;
$menu-bg: #1a1a1a;
// $black-gray: #202020;
$black-gray: #1a1a1a;
$menu-text-gray: #70706e;
$gray: rgba(57,52,54,1);
$gray-10: rgba(57,52,54,.1);

$bio-bg: #f5efea;
$contact-bg: #f5efea;