/*Normalize*/
// @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

// Import libraries


// Import your files
@import 'global/vars';
@import 'global/mixins';
@import 'global/fonts';
@import 'global/default';

@import 'views/home';
@import 'views/intro';

@import 'modules/nav-menu';

.test{
	z-index: 1000000000;
	position: absolute;
	background-color: rgba(255,0,0,.3);
	pointer-events: none;

	width: 57px;
	height: 12px;
	bottom: 80px;
	right: 40px;
}