mixin filter(link, name, quantity, active)
	a(href="#{link}" class="filter show #{active}")
		span.name #{name}
		span.qty #{quantity}

header#proj-filters.filters-wrap
	#filters-trigger.descriptor Filter by.

	nav.categories
		+filter("#", "All", 12, "active")
		+filter("#", "Books", 9)
		+filter("#", "Branding", 3)