footer#grid-footer
	.copyright © 2019 - All rights reserved 
	.credits
		|Handcrafted with love by 
		a(href="https://mandelbrot.mx/" target="_blank").p-link-invert Mandelbrot Studio
	.back-top 
		a(href="#" onclick="toTop()") Back to top