footer#grid-footer
	.copyright
		p.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") © 2019 - All rights reserved 
	.credits
		p.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="1")
			|Handcrafted with love by 
			a(href="https://mandelbrot.mx/" target="_blank").p-link-invert Mandelbrot Studio
	.back-top
		span.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="2")
			a(href="#" onclick="toTop()") Back to top