include socialmedia-list.jade

nav#main-menu
	.logo-wrap 
		a(href="index.html" title="Work Page")
			h1 Suze LaGasa

	#menu-trigger.toggle-wrap

	ul.sections-wrap
		li.section-link 
			a(href="index.html" title="Work Page").change-page.active Work
		li.section-link 
			a(href="bio.html" title="Bio Page").change-page Bio
		li.section-link 
			a(href="contact.html" title="Contact Page").change-page Contact

section#menu-window
	.inner-wrapper
		.responsive-container#menu-container
			h6.page-name.top Menu

			.inner-wrapper
				.menu-col.left
					address.address.mask-container.mask-menu
						span
							|67 West Street 603
							br
							|Brooklyn, NY 11222
							br
							|United States

					+socialmedia-list

					.copyright-wrap
						h6.section-label.mask-container.mask-menu
							span Copyright

						p.mask-container.mask-menu
							span © 2019 Suzanne LaGasa

						p.mask-container.mask-menu
							span All rights reserved. No part of this website may be reproduced or used in any manner without written permission of the copyright owner except for the use of reviews and educational materials.

						p.mask-container.mask-menu
							span Designed in Mexico City

						p.mask-container.mask-menu
							span First Edition, June 2019

						p.mask-container.mask-menu 
							span
								|Mandelbrot
								br
								a(href="https://dribbble.com/mandelbrotstudio" target="_blank" title="Dribbble of Mandelbrot Studio") https://dribbble.com/mandelbrotstudio

						p.mask-container.mask-menu 
							span
								|This website was set in Founders Grotesk, designed by 
								a(href="https://klim.co.nz" target="_blank" title="Klim Type Foundry Website") Klim Type Foundry 
								|based in Wellington, New Zealand; & Saol Display, designed by 
								a(href="https://www.schick-toikka.com" target="_blank" title="Schick Toikka Website") Schick Toikka 
								|located in Berlin and Helsinki.

				#projects-shifter.menu-col.right
					.projects-titles
						ul.bloc-projects
							li.menu-link.typeof Books

							li.menu-link.title(data-id="0")
								a(href="live-in-light.html" title="Live in Light project").change-page
									span.underline Live in Light
							li.menu-link.title(data-id="1")
								a(href="trb.html" title="Rooftop Beekeper project").change-page
									span.underline Rooftop Beekeper
							li.menu-link.title(data-id="2")
								a(href="walk-in-faith.html" title="Walk in Faith project").change-page
									span.underline Walk in Faith
							li.menu-link.title(data-id="3")
								a(href="tbh.html" title="TBH project").change-page
									span.underline TBH
							li.menu-link.title(data-id="4")
								a(href="one-days-tale.html" title="One Day's Tale project").change-page
									span.underline One Day's Tale
							li.menu-link.title(data-id="5")
								a(href="brooklyn-spaces.html" title="Brooklyn Spaces project").change-page
									span.underline Brooklyn Spaces
							li.menu-link.title(data-id="6")
								a(href="getting-to-good.html" title="Getting to Good project").change-page
									span.underline Getting to Good
							li.menu-link.title(data-id="7")
								a(href="mean-girls.html" title="Mean Girls project").change-page
									span.underline Mean Girls
							li.menu-link.title(data-id="8")
								a(href="o-homem-razoavel.html" title="O Homem Razoável project").change-page
									span.underline O Homem Razoável


						ul.bloc-projects
							li.menu-link.typeof Branding

							li.menu-link.title(data-id="9")
								a(href="farrah-sit.html" title="Farrah Sit project").change-page
									span.underline Farrah Sit
							li.menu-link.title(data-id="10")
								a(href="movetes.html" title="Movetes project").change-page
									span.underline Movetes
							li.menu-link.title(data-id="11")
								a(href="speech-tank.html" title="Speech Tank project").change-page
									span.underline Speech Tank

					.projects-canvas
						.imgs-wrap
							img(src="img/project_thumbnails/01_LIL.jpg", alt="Live in Light cover")
							img(src="img/project_thumbnails/02_TRB.jpg", alt="The Rooftop Beekeper cover")
							img(src="img/project_thumbnails/03_WIF.jpg", alt="Walk in Faith cover")
							img(src="img/project_thumbnails/04_TBH.jpg", alt="TBH cover")
							img(src="img/project_thumbnails/05_ODT.jpg", alt="One Day's Tale cover")
							img(src="img/project_thumbnails/06_BS.jpg", alt="Brooklyn Spaces cover")
							img(src="img/project_thumbnails/07_GTG.jpg", alt="Getting to Good cover")
							img(src="img/project_thumbnails/08_MG.jpg", alt="Mean Girls cover")
							img(src="img/project_thumbnails/09_HR.jpg", alt="O Homem Razoável cover")
							img(src="img/project_thumbnails/10_FS.jpg", alt=" Farrah Sit cover")
							img(src="img/project_thumbnails/11_MNY.jpg", alt="Movetes cover")
							img(src="img/project_thumbnails/12_ST.jpg", alt="Speech Tank cover")
