nav#main-menu
	.logo-wrap 
		a(href="#")
			h1 Suze LaGasa

	.toggle-wrap

	ul.sections-wrap
		li 
			a(href="#") Work
		li 
			a(href="#") Bio
		li 
			a(href="#") Contact

section#menu-window
	.inner-wrapper
		.responsive-container
			h6.page-name Menu

			.menu-col.left
				p.address
					|67 West Street 603
					br
					|Brooklyn, NY 11222
					br
					|United States

				ul.rrss-wrap
					li
						a(href="#")
							span.icon √
							span.label Linkedin

				.copyright-wrap
					p Copyright © 2019 Suzanne LaGasa

					p All rights reserved. No part of this website may be reproduced or used in any manner without written permission of the copyright owner except for the use of reviews and educational materials.

					p Designed in Mexico City

					p First Edition, April 2019

					p 
						|Mandelbrot
						br
						a(href="https://dribbble.com/mandelbrotstudio") https://dribbble.com/mandelbrotstudio

					p This website was set in XX, designed by xx (and a brief history of the font designer)

			.menu-col.right