include socialmedia-list.jade

nav#main-menu
	.logo-wrap 
		a(href="index.html")
			h1 Suze LaGasa

	#menu-trigger.toggle-wrap

	ul.sections-wrap
		li 
			a(href="index.html") Work
		li 
			a(href="bio.html") Bio
		li 
			a(href="contact.html") Contact

section#menu-window
	.inner-wrapper
		.responsive-container
			h6.page-name.top Menu

			.inner-wrapper
				.menu-col.left
					p.address
						|67 West Street 603
						br
						|Brooklyn, NY 11222
						br
						|United States

					+socialmedia-list

					.copyright-wrap
						h6.section-label Copyright

						p © 2019 Suzanne LaGasa

						p All rights reserved. No part of this website may be reproduced or used in any manner without written permission of the copyright owner except for the use of reviews and educational materials.

						p Designed in Mexico City

						p First Edition, April 2019

						p 
							|Mandelbrot
							br
							a(href="https://dribbble.com/mandelbrotstudio" target="_blank") https://dribbble.com/mandelbrotstudio

						p 
							|This website was set in Founders Grotesk, designed by 
							a(href="https://klim.co.nz" target="_blank") Klim Type Foundry 
							|based in Wellington, New Zealand; & Saol Display, designed by 
							a(href="https://www.schick-toikka.com" target="_blank") Schick Toikka 
							|located in Berlin and Helsinki.

				#projects-shifter.menu-col.right
					.projects-titles
						ul.bloc-projects
							li.typeof Books

							li.title(data-id="0")
								a(href="live-in-light.html")
									span.underline Live in Light
							li.title(data-id="1")
								a(href="trb.html")
									span.underline Rooftop Beekeper
							li.title(data-id="2")
								a(href="walk-in-faith.html")
									span.underline Walk in Faith
							li.title(data-id="3")
								a(href="tbh.html")
									span.underline TBH
							li.title(data-id="4")
								a(href="one-days-tale.html")
									span.underline One Day's Tale
							li.title(data-id="5")
								a(href="brooklyn-spaces.html")
									span.underline Brooklyn Spaces
							li.title(data-id="6")
								a(href="getting-to-good.html")
									span.underline Getting to Good
							li.title(data-id="7")
								a(href="mean-girls.html")
									span.underline Mean Girls
							li.title(data-id="8")
								a(href="o-homem-razoavel.html")
									span.underline O Homem Razoável


						ul.bloc-projects
							li.typeof Branding

							li.title(data-id="9")
								a(href="farrah-sit.html")
									span.underline Farrah Sit
							li.title(data-id="10")
								a(href="movetes.html")
									span.underline Movetes
							li.title(data-id="11")
								a(href="speech-tank.html")
									span.underline Speech Tank

					.projects-canvas
						.imgs-wrap
							//- img(src="img/project_thumbnails/01_rooftop.jpg", alt="")
							img(src="img/covers/01_lil.jpg", alt="Live in Light cover")
							img(src="img/covers/02_trb.jpg", alt="The Rooftop Beekeper cover")
							img(src="img/covers/03_wif.jpg", alt="Walk in Faith cover")
							img(src="img/covers/04_tbh.jpg", alt="TBH cover")
							img(src="img/covers/05_odt.jpg", alt="One Day's Tale cover")
							img(src="img/covers/06_bs.jpg", alt="Brooklyn Spaces cover")
							img(src="img/covers/08_gtg.jpg", alt="Getting to Good cover")
							img(src="img/covers/09_mg.jpg", alt="Mean Girls cover")
							img(src="img/covers/10_hr.jpg", alt="O Homem Razoável cover")
							img(src="img/covers/07_fs.jpg", alt=" Farrah Sit cover")
							img(src="img/covers/12_mny.jpg", alt="Movetes cover")
							img(src="img/covers/11_st.jpg", alt="Speech Tank cover")
