nav#main-menu
	.logo-wrap 
		a(href="#")
			h1 Suze LaGasa

	.toggle-wrap

	ul.sections-wrap
		li 
			a(href="#") Work
		li 
			a(href="#") Bio
		li 
			a(href="#") Contact

section#menu-window
	.inner-wrapper
		.responsive-container
			.inner-wrapper
				h6.page-name Menu

				.menu-col.left
					p.address
						|67 West Street 603
						br
						|Brooklyn, NY 11222
						br
						|United States

					ul.rrss-wrap
						li
							a(href="#")
								span.icon
								span.label Linkedin
						li
							a(href="#")
								span.icon
								span.label Instagram
						li
							a(href="#")
								span.icon
								span.label Behance

					.copyright-wrap
						h6.section-label Copyright

						p © 2019 Suzanne LaGasa

						p All rights reserved. No part of this website may be reproduced or used in any manner without written permission of the copyright owner except for the use of reviews and educational materials.

						p Designed in Mexico City

						p First Edition, April 2019

						p 
							|Mandelbrot
							br
							a(href="https://dribbble.com/mandelbrotstudio") https://dribbble.com/mandelbrotstudio

						p This website was set in XX, designed by xx (and a brief history of the font designer)

				.menu-col.right
					.projects-titles
						ul.bloc-projects
							li.typeof Fiction

							li.title
								a(href="#") 
									span.underline Walk in Faith
							li.title
								a(href="#") 
									span.underline Live in Light
							li.title
								a(href="#") 
									span.underline Getting to Good
							li.title
								a(href="#") 
									span.underline One Day Tales
							li.title
								a(href="#") 
									span.underline Mean Girls


						ul.bloc-projects
							li.typeof Non-fiction

							li.title
								a(href="#") 
									span.underline Rooftop Beekeper
							li.title
								a(href="#") 
									span.underline Brooklyn Spaces
							li.title
								a(href="#") 
									span.underline TBH
							li.title
								a(href="#") 
									span.underline O Homem Razoável


						ul.bloc-projects
							li.typeof Branding

							li.title
								a(href="#") 
									span.underline Farrah Sit
							li.title
								a(href="#") 
									span.underline Movetes
							li.title
								a(href="#") 
									span.underline Speech Tank

					.projects-canvas
						.current
			
