include socialmedia-list.jade

nav#main-menu
	.logo-wrap 
		a(href="index.html")
			h1 Suze LaGasa

	#menu-trigger.toggle-wrap

	ul.sections-wrap
		li 
			a(href="index.html") Work
		li 
			a(href="bio.html") Bio
		li 
			a(href="contact.html") Contact

section#menu-window
	.inner-wrapper
		.responsive-container
			h6.page-name.top Menu

			.inner-wrapper
				.menu-col.left
					p.address
						|67 West Street 603
						br
						|Brooklyn, NY 11222
						br
						|United States

					+socialmedia-list

					.copyright-wrap
						h6.section-label Copyright

						p © 2019 Suzanne LaGasa

						p All rights reserved. No part of this website may be reproduced or used in any manner without written permission of the copyright owner except for the use of reviews and educational materials.

						p Designed in Mexico City

						p First Edition, April 2019

						p 
							|Mandelbrot
							br
							a(href="https://dribbble.com/mandelbrotstudio") https://dribbble.com/mandelbrotstudio

						p This website was set in XX, designed by xx (and a brief history of the font designer)

				.menu-col.right
					.projects-titles
						ul.bloc-projects
							li.typeof Books

							li.title
								a(href="#") 
									span.underline Live in Light
							li.title
								a(href="#") 
									span.underline Rooftop Beekeper
							li.title
								a(href="#") 
									span.underline Walk in Faith
							li.title
								a(href="#") 
									span.underline TBH
							li.title
								a(href="#") 
									span.underline One Day Tales
							li.title
								a(href="#") 
									span.underline Brooklyn Spaces
							li.title
								a(href="#") 
									span.underline Getting to Good
							li.title
								a(href="#") 
									span.underline Mean Girls
							li.title
								a(href="#") 
									span.underline O Homem Razoável


						ul.bloc-projects
							li.typeof Branding

							li.title
								a(href="#") 
									span.underline Farrah Sit
							li.title
								a(href="#") 
									span.underline Movetes
							li.title
								a(href="#") 
									span.underline Speech Tank

					.projects-canvas
						img(src="img/project_thumbnails/01_rooftop.jpg", alt="").current
			
