mixin socialmedia-list(bgClass)
	ul(class="socialmedia-list #{bgClass}")
		li
			a(href="https://www.linkedin.com/in/lagasa/" target="_blank" title="Suze Linkedin")
				span.icon
				span.label Linkedin
		li
			a(href="https://www.instagram.com/lagasa/" target="_blank" title="Suze Instagram")
				span.icon
				span.label Instagram
		li
			a(href="https://www.behance.net/lagasa" target="_blank" title="Suze Behance")
				span.icon
				span.label Behance