.filters-wrap{
	z-index: 9;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	padding: 18px 15px 11px;
	display: inline-block;
	font-family: 'Founders-L', sans-serif;
	font-weight: 100;
	background-color: #fff;

	@include desktop {
		margin-bottom: 120px;
	}
	@include unselectable;

	.descriptor{
		position: relative;
		display: inline-block;
		margin-right: 27px;
		font-size: .75em;
		cursor: pointer;

		@include desktop {
			font-size: .9em;
			margin-right: 60px;
		}
	}

	.categories{
		position: relative;
		display: inline-block;
	}

	.filter{
		display: inline-block;
		pointer-events: none;
		opacity: 0;
		text-decoration: none;
		color: inherit;
		@include translate(0,10px);
		@include transitions-ease(.4s);

		&.show{
			opacity: .7;
			@include translate(0,0);
			pointer-events: all;
		}

		&:not(:last-child){
			margin-right: 20px;

			@include desktop {
				margin-right: 45px;
			}
		}

		.name{
			margin-right: 2px;
			font-size: .75em;

			@include desktop {
				margin-right: 5px;
				font-size: .9em;
			}
		}
		.qty{
			position: relative;
			display: inline-block;
			top: -6px;
			vertical-align: text-top;
			font-size: .6em;
			@include translate(0, 8px);
			opacity: 0;
			@include transitions-ease(.4s);

			@include desktop{
				top: -8px;
			}
		}

		&:hover, &.active.show{
			opacity: 1;

			.qty{
				@include translate(0,0);
				opacity: 1;
			}
		}
	}
}