.filters-wrap{
	display: inline-block;
	font-family: 'Founders-L', sans-serif;
	font-weight: 100;
	@include desktop {
		margin-bottom: 120px;
	}
	@include unselectable;

	.descriptor{
		position: relative;
		display: inline-block;
		margin-right: 60px;
		font-size: .9em;
		cursor: pointer;
	}

	.categories{
		position: relative;
		display: inline-block;
	}

	.filter{
		display: inline-block;
		pointer-events: none;
		opacity: 0;
		text-decoration: none;
		color: inherit;
		@include translate(0,10px);
		@include transitions-ease(.4s);

		&.show{
			opacity: .7;
			@include translate(0,0);
			pointer-events: all;
		}

		&:not(:last-child){
			margin-right: 45px;
		}

		.name{
			margin-right: 5px;
			font-size: .9em;
		}
		.qty{
			position: relative;
			display: inline-block;
			top: -8px;
			vertical-align: text-top;
			font-size: .6em;
			@include translate(0, 8px);
			opacity: 0;
			@include transitions-ease(.4s);
		}

		&:hover, &.active.show{
			opacity: 1;

			.qty{
				@include translate(0,0);
				opacity: 1;
			}
		}
	}
}