#grid-footer{
	position: relative;
	width: 100%;
	padding-bottom: 50px;

	font-size: .85em;
	font-family: 'Founders-L', sans-serif;
	font-weight: 100;
	color: $black-gray;

	.copyright {
		display: inline-block;
		width: 100%;
		@include desktop {
			width: 25%;
		}
	}
	.credits {
		display: inline-block;
		width: auto;
		margin-bottom: 3px;
		@include desktop {
			margin-bottom: 0;
			width: 58.33%;
		}
		a{
			color: inherit;
			text-decoration: none;
		}
	}
	.copyright,
	.credits {
		font-size: 13px;
		@include desktop {
			opacity: .7;
			font-size: 1em;
		}
	}
}

.back-top{
	display: inline-block;
	position: relative;
	text-align: right;
	font-family: 'Founders-L', sans-serif;
	font-weight: 100;
	width: auto;
    float: right;
    text-align: right;
    @include desktop {
    	width: 16.66%;
    	float: none;
    }
	a{
		text-decoration: none;
		color: inherit;
		@include desktop {
			&:after{
				content: '';
				display: inline-block;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				position: relative;
				margin-left: 24px;
				top: -3px;
				background-color: $black-gray;
				@include transitions-ease(.4s);
				opacity: 0;
				@include translate(-10px, 0);
			}
		}
		&:hover{
			&:after{
				opacity: 1;
				@include translate(0, 0);
			}
		}
	}
}

		.col-1{width: 8.33%;}
		.col-2{width: 16.66%;}
		.col-3{width: 25%;}
		.col-4{width: 33.33%;}
		.col-5{width: 41.66%;}
		.col-6{width: 50%;}
		.col-7{width: 58.33%;}
		.col-8{width: 66.66%;}
		.col-9{width: 75%;}
		.col-10{width: 83.33%;}
		.col-11{width: 91.66%;}
		.col-12{width: 100%;}