.sz-input-container, .sz-textarea-container{
	position: relative;
	width: 100%;
}

.sz-input-container{margin-bottom: 28px;}

.sz-input{
	position: relative;
	width: 100%;
	padding-right: 10px;
	padding-bottom: 7px;
	background: none;
	border: none;
	border-bottom: 1px solid rgba(26,26,26,.3);
	font-family: 'Founders-L';
	font-size: .9em;
	font-weight: 100;
	@include smoothFont;

	&:focus{
		outline: 0;
	}

	&:focus ~ .sz-input-fx{
		@include scale(1,1);
	}

	&:focus, &.filled{
		& ~ .sz-input-label{
			font-size: .71em;
			@include translate(0,-18px);
		}
	}
}

.sz-input-fx{
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
	background-color: $black-gray;
	@include scale(0,1);
	@include transform-origin(left, center);
	@include transitions-ease(.4s);
}

.sz-input-label{
	position: absolute;
	top: 5px;
	left: 0;
	font-family: 'Founders-L';
	font-size: .9em;
	font-weight: 100;
	@include smoothFont;
	@include transitions-ease(.4s);
}

.sz-textarea{
	position: relative;
	width: 100%;
	height: 150px;
	border: none;
	border-bottom: 1px solid rgba(26,26,26,.3);
	font-family: 'Founders-L';
	font-size: .9em;
	font-weight: 100;
	@include smoothFont;
	background: none;
	resize: none;

	&:focus{
		outline: 0;
	}

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: rgba(26,26,26,.7);
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: rgba(26,26,26,.7);
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: rgba(26,26,26,.7);
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: rgba(26,26,26,.7);
	}
}

.sz-submit-btn{
	position: relative;
	padding: 5px 0 0;
	font-family: 'Founders-L';
	font-size: 1em;
	font-weight: 100;
	@include smoothFont;
	color: $black-gray;
	cursor: pointer;
}