.link-arrow{
	position: relative;
	display: inline-block;
	width: 8px;
	height: 8px;

	@include desktop {
		width: 10px;
		height: 10px;
	}

	&:before{
		content: '';
		display: block;
		position: absolute;
		width: 8px;
		height: 8px;
		// border-top: 1px solid #fff;
		border-top-width: 1px;
		border-top-style: solid;
		// border-right: 1px solid #fff;
		border-right-width: 1px;
		border-right-style: solid;

		@include desktop {
			width: 9px;
			height: 9px;
		}
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 1px;
		right: 0;
		width: 1px;
		height: 9px;
		@include rotate(45deg);
		@include transform-origin(top, right);

		@include desktop {
			height: 13px;
			right: 1px;
		}
	}

	&.black{
		&:before{
			border-top-color: $black-gray;
			border-right-color: $black-gray;
		}
		&:after{
			background-color: $black-gray;
		}
	}
}