#main-menu {
	z-index: 11;
	position: fixed;
	right: 0;
	width: 100%;
	height: 50px;
	bottom: 0;
	// background-color: #fff;
	// overflow: hidden;
	color: $black-gray;
	transition: all 900ms cubic-bezier(0.33, 0, 0.140, 1.000);
	transition-delay: 450ms;

	@include desktop {
		border-left: 1px solid rgba(0, 0, 0, .1);
		width: 140px;
		height: 100%;
	}

	a {
		display: block;
		text-decoration: none;
		color: inherit;
	}

	.bg{
		z-index: -1;
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;

		&.bio{background-color: $bio-bg;}
		&.contact{background-color: $contact-bg}
	}

	.logo-wrap {
		white-space: nowrap;
		font-family: 'Saol';
		padding: 15px;
		position: absolute;
		top: 50%;
		transform: translate(0%, -50%);
		padding: 0px 15px;

		@include desktop {
			padding: 0;
			top: 60px;
			left: 0;
			height: 140px;
			@include translate-rotate(0, -100%, 90deg);
			@include transform-origin(bottom, left);

			a {
				height: 100%;
				line-height: 140px;
			}
		}

		a {
			h1 {
				font-size: 1.125em;
				font-weight: 100;
				@include desktop {
					font-size: 2em;
				}
			}
		}
	}

	.toggle-wrap {
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: auto;
		right: 15px;
		transform: rotate(90deg);
		width: 24px;
		height: 24px;
		cursor: pointer;

		@include desktop {
			transform: none;
			left: 0;
			right: 0;
			width: 40px;
			height: 40px;
		}

		&:before, &:after {
			content: '';
			position: absolute;
			margin: auto;
			width: 1px;
			height: 100%;
			background-color: $black-gray;
		}

		&:before {
			left: 0;
			right: 8px;

			@include desktop {
				right: 10px;
			}
		}

		&:after {
			left: 8px;
			right: 0;

			@include desktop {
				left: 10px;
			}
		}

	}

	.sections-wrap {
		position: relative;
		margin-left: 16.66%;
		white-space: nowrap;
		font-family: 'Founders-L';
		// display: none;
		margin-top: -80vh;
		z-index: 99;
		pointer-events: none;

		@include desktop {
			position: absolute;
			pointer-events: auto;
			@include translate-rotate(0, 100%, 90deg);
			@include transform-origin(top, right);
			font-size: .9em;
			display: block;
			bottom: 30px;
			right: 0;
			top: auto;
			height: 140px;
		}

		li {
			position: relative;
			display: block;

			@include mobile {
				width: 100%;
				padding: 15px 15px 17px;
				font-size: 1.5em;
				transform: translateY(60px);
				opacity: 0;
				transition: all 100ms linear;

				&.active {
					pointer-events: auto;
					transition: all 600ms cubic-bezier(0.33, 0, 0.140, 1.000);
					opacity: 1;
					transform: translateY(0px);
				}

			}

			a {
				&:after {
					background-color: #fff;
				}

			}

			@include desktop {
				display: inline-block;
				height: 100%;
				margin: 0 15px;
			}

			a {
				@include desktop {
					height: 100%;
					line-height: 144px;
					padding: 0 15px;

					&:after {
						content: '';
						position: absolute;
						margin: auto;
						bottom: 45px;
						left: 0;
						right: 0;
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background-color: currentColor;
						@include transitions-ease(.4s);
						opacity: 0;
						@include translate(0, -10px);
					}

				}

				&:hover, &.active {
					&:after {
						opacity: 1;
						@include translate(0, 0);
					}

				}

			}
		}

	}

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		// z-index: -1;
		z-index: 0;
		background-color: #1a1a1a;
		width: 100%;
		height: 100%;
		transition: transform 800ms cubic-bezier(0.33, 0, 0.140, 1.000);
		transition-delay: 300ms;
		transform: translate(0%, 100%);

		@include desktop {
			transition: transform 800ms cubic-bezier(0.33, 0, 0.140, 1.000);
			transition-delay: 400ms;
			transform: translate(100%, 0%);
		}

	}

	&.opened {
		transition-delay: 0ms;
		transition: transform 1400ms cubic-bezier(0.33, 0, 0.140, 1.000);
		z-index: 100;
		color: #fff;

		@include desktop {
			border-left: 1px solid rgba(255, 255, 255, .1);
		}

		&:before {
			transition: transform 700ms cubic-bezier(0.33, 0, 0.140, 1.000);
			transform: translate(0%, 0%);
			transition-delay: 0ms;
		}

		// .sections-wrap {
		// 	pointer-events: none;
		// }

		.toggle-wrap {
			&:before, &:after {
				background-color: #fff;
			}

			&:before {
				right: 0;
				@include rotate(45deg);
			}

			&:after {
				left: 0;
				@include rotate(-45deg);
			}

		}

		& + #menu-window {
			pointer-events: auto;
			transform: translate(0%, 0%);
			z-index: 99;

			.responsive-container {
				transition-delay: 450ms;
				opacity: 1;
			}

		}

	}

}

#menu-window {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 0;
	color: $menu-text-gray;
	background-color: $menu-bg;
	pointer-events: none;
	transition: transform 1200ms cubic-bezier(0.33, 0, 0.140, 1.000);
	transition-delay: 100ms;
	transform: translate(0%, 100%);

	@include desktop {
		transform: translate(100%, 0%);
		width: calc(100% - 140px);
	}

	@media (min-width:1700px) {
		padding-right: 0;
	}

	.page-name {
		z-index: 1;
	}

	.responsive-container {
		transition: opacity 400ms cubic-bezier(0.33, 0, 0.140, 1.000);
		transition-delay: 0ms;
		opacity: 0;
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		right: 6%;
		left: 0;
		right: 0;
		width: 100%;
		max-width: 1400px;
		height: 100%;
		padding-left: 15px;
		padding-right: 15px;

		@include desktop {
			padding-left: 7.3%;
			padding-right: 3.3%;
		}

		@media (min-width:1700px) {
			padding: 0;
		}

	}

	.menu-col {
		@include desktop {
			position: absolute;
			bottom: 0;
			top: 0;
			height: 100%;
		}

		font-family: 'Founders-L';

		&#projects-shifter {
			@include mobile {
				display: none;
			}

		}

		&.left {
			position: absolute;
			width: 83.33%;
			left: 16.66%;
			bottom: 7vh;

			@include desktop {
				left: 0;
				max-width: 467px;
				padding: 80px 0;
				width: 40%;
			}

		}

		&.right {
			right: 0;
			width: 50%;
			max-width: 585px;
			@include flexIt;
			@include flex-spacebetween;
			@include flex-alignCenter;
		}

	}

	.address {
		font-style: normal;
		display: inline-block;
		font-size: .75em;
		line-height: 1.5em;
		padding-left: 8px;

		@include desktop {
			font-size: .9em;
			padding-left: 0;
		}
	}

	.socialmedia-list {
		position: relative;
		display: inline-block;
		float: right;
		@include translate(0, -20vh);

		@include desktop {
			transform: none;
		}

		@include mobile {
			li {
				margin-bottom: 20px;
			}

		}

	}

	.copyright-wrap {
		position: absolute;
		width: 100%;
		bottom: 40px;
		display: none;

		@include desktop {
			display: block;
		}
		@include bigdesktop {
			bottom: 80px;
		}

		.section-label {
			font-size: .7em;
			letter-spacing: .5px;
			margin-bottom: 35px;
		}

		p {
			font-size: .8em;

			&:not(:last-child) {
				margin-bottom: 20px;
			}

		}

		a {
			text-decoration: none;
			color: inherit;

			&:hover {
				color: #fff;
			}

		}

	}

	.projects-titles {
		z-index: 1;
		position: relative;
		width: 170px;

		.bloc-projects {
			&:not(:last-child) {
				margin-bottom: 20px;

				@media (min-width:1441px) {
					margin-bottom: 40px;
				}

			}

			.typeof {
				font-size: .7em;
				font-weight: 700;
				margin-bottom: 7px;

				@media (min-width:1441px) {
					margin-bottom: 15px;
				}

			}

			.title {
				line-height: 1em;

				a {
					position: relative;
					display: block;
					padding: 10px 0;
					color: #fff;
					text-decoration: none;

					.underline {
						position: relative;
						display: inline-block;
						pointer-events: none;

						&:before {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							bottom: -2px;
							width: 100%;
							height: 1px;
							background-color: rgba(255, 255, 255, .5);
							@include transform-origin(top, right);
							@include scale(0, 1);
							@include ease-target(transform, .4s);
						}

					}

					&:hover {
						.underline {
							&:before {
								@include scale(1, 1);
								@include transform-origin(top, left);
							}

						}

					}

				}

			}

		}

	}

	.projects-canvas {
		position: absolute;
		top: 0;
		right: 0;
		width: 61.5%;
		height: 100%;
		overflow: hidden;

		.imgs-wrap {
			position: absolute;
			width: 100%;

			img {
				opacity: 0;
				vertical-align: top;
				position: absolute;
				top: 50%;
				right: 50%;
				max-width: 360px;
				max-height: 300px;
				@include translate(50%, -50%);
				@include transitions-ease(.2s);

				&.active {
					opacity: .9;
				}

			}

		}

	}

}

.menu-link {
	transform: translateY(30px);
	opacity: 0;
	transition: all 100ms linear;

	&.active {
		transition: all 600ms cubic-bezier(0.33, 0, 0.140, 1.000);
		opacity: 1;
		transform: translateY(0px);
	}

}
