#main-menu{
	z-index: 10000;
	position: absolute;
	width: 140px;
	height: 100%;
	right: 0;
	border-left: 1px solid rgba(0,0,0,.1);
	overflow: hidden;
	color: $black-gray;

	a{
		display: block;
		text-decoration: none;
		color: inherit;
	}

	.logo-wrap{
		position: absolute;
		top: 60px;
		left: 0;
		height: 140px;
		white-space: nowrap;
		font-family: 'Saol';
		@include translate-rotate(0, -100%, 90deg);
		@include transform-origin(bottom, left);

		a{
			height: 100%;
			line-height: 140px;

			h1{
				font-size: 2em;
				font-weight: 100;
				@include smoothFont;
			}
		}
	}

	.toggle-wrap{
		position: absolute;
		margin: auto;
		top: 0; bottom: 0;
		left: 0; right: 0;
		width: 40px;
		height: 40px;
		cursor: pointer;

		&:before, &:after{
			content: '';
			position: absolute;
			margin: auto;
			width: 1px;
			height: 100%;
			background-color: $black-gray;
		}

		&:before{
			left: 0;
			right: 10px;
		}

		&:after{
			left: 10px;
			right: 0;
		}
	}

	.sections-wrap{
		position: absolute;
		bottom: 30px;
		right: 0;
		height: 140px;
		white-space: nowrap;
		font-family: 'Founders-L';
		font-size: .9em;
		@include smoothFont;
		@include translate-rotate(0, 100%, 90deg);
		@include transform-origin(top, right);

		li{
			position: relative;
			display: inline-block;
			height: 100%;
			margin: 0 15px;
			
			a{
				height: 100%;
				line-height: 140px;
				padding: 0 15px;
			}
		}
	}

	&.opened{
		color: #fff;
		border-left: 1px solid rgba(255,255,255,.1);

		.toggle-wrap{
			&:before, &:after{
				background-color: #fff;
			}

			&:before{
				right: 0;
				@include rotate(45deg);
			}
			&:after{
				left: 0;
				@include rotate(-45deg);
			}
		}

		& + #menu-window{
			opacity: 1;
			pointer-events: auto;
		}
	}
}

#menu-window{
	z-index: 1000;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	padding-right: 140px;
	color: $menu-text-gray;
	background-color: $black-gray;
	opacity: 0;
	pointer-events: none;

	.responsive-container{
		position: absolute;
		margin: auto;
		top: 0; bottom: 0;
		left: auto; right: 6%;
		width: 85%;
		max-width: 1400px;
		height: 100%;
		padding: 90px 0;

		@media (min-width: 1441px){
			padding: 140px 0;
		}
	}

	.menu-col{
		position: absolute;
		top: 0;
		height: 100%;
		font-family: 'Founders-L';
		@include smoothFont;
		// border: 1px solid #fff;

		&.left{
			left: 0;
			width: 40%;
			max-width: 500px;
		}

		&.right{
			right: 0;
			width: 50%;
			max-width: 550px;
		}
	}

	.socialmedia-list{
		position: absolute;
		top: 0;
		right: 0;
	}

	.copyright-wrap{
		position: absolute;
		width: 100%;
		bottom: 0;
		font-size: .8em;

		.section-label{
			font-family: 'Saol';
			font-size: .9em;
			letter-spacing: .5px;
			margin-bottom: 35px;
		}

		p:not(:last-child){
			margin-bottom: 20px;
		}

		a{
			text-decoration: none;
			color: inherit;

			&:hover{
				color: #fff;
			}
		}
	}

	.projects-titles{
		position: relative;
		width: 170px;
		height: 100%;
		@include flexIt;
		@include flex-direction(vertical);
		@include flex-spacebetween;

		.bloc-projects{
			&:not(:last-child){
				margin-bottom: 20px;

				@media (min-width: 1441px){
					margin-bottom: 40px;
				}
			}

			.typeof{
				font-family: 'Saol';
				font-size: .7em;
				margin-bottom: 5px;

				@media (min-width: 1441px){
					margin-bottom: 15px;
				}
			}

			.title{
				line-height: 1em;
				// margin-bottom: 10px;

				a{
					position: relative;
					display: block;
					padding: 8px 0;
					color: #fff;
					text-decoration: none;

					.underline{
						position: relative;
						display: inline-block;

						&:before{
							content: '';
							display: block;
							position: absolute;
							left: 0; bottom: 0;
							width: 100%;
							height: 1px;
							background-color: #fff;
							opacity: 0;
						}
					}

					&:hover{
						.underline:before{
							opacity: .5;
						}
					}
				}
			}
		}
	}

	.projects-canvas{
		position: absolute;
		top: 0; right: 0;
		width: 260px;
		height: 100%;

		.current{
			position: absolute;
			width: 260px;
			height: 367px;
			top: 0;
			right: 0;
		}
	}
}




