.project-cover{
	z-index: 1;
	position: relative;
	font-family: 'Founders-L', sans-serif;
	font-weight: 100;
	font-size: 1.2em;
	@include smoothFont;
	color: $black-gray;
	&.align-top{
		vertical-align: top;
	}
	&.down{
		&--third{
			@include translate(0, 31.21%);
		}

		&--half{
			@include translate(0, 41.5%);
		}

		&--threequarters{
			@include translate(0, 73%);
		}
	}

	&.pushdown{
		&--sm{
			margin-bottom: 120px;
		}

		&--md{
			margin-bottom: 185px;
		}
	}

	&.up{
		&--sixteenth{
			@include translate(0, -9%);
		}
		&--half{
			@include translate(0, -50%);
		}

		&--twothird{
			@include translate(0, -63%);
		}
	}

	&.pushup{
		&--third{
			margin-top: 33%;
		}
	}

	&.allup{
		&--fifth{
			margin-top: -19%;
		}
	}

	a{
		text-decoration: none;
		color: inherit;
	}

	.photo-wrap{
		position: relative;
		width: 100%;
		margin-bottom: 35px;

		img{
			display: block;
			width: 100%;
		}
	}

	.title{}
	.client{}
}