.project-cover {
	z-index: 1;
	position: relative;
	font-family: 'Founders-L', sans-serif;
	font-weight: 100;
	// font-size: 0.75em;
	font-size: 20px;
	color: $black-gray;

	@include desktop {
		font-size: 1.2em;
	}
	&.align-top{
		vertical-align: top;
	}
	&.down {
		&--third{
			@include translate(0, 31.21%);
		}

		&--half{
			@include translate(0, 32%);
		}

		&--threequarters{
			@include translate(0, 73%);
		}
	}

	&.pushdown{
		&--sm{
			margin-bottom: 120px;
		}

		&--md{
			margin-bottom: 185px;
		}
	}

	&.up{
		&--sixteenth{
			@include translate(0, -11%);
		}
		&--half{
			@include translate(0, -50%);
		}

		&--twothird{
			@include translate(0, -63%);
		}
	}

	&.pushup{
		&--third{
			margin-top: 33%;
		}
	}

	&.allup{
		&--fifth{
			margin-top: -18%;
		}
	}

	&.smaller-col{
		a{
			@include desktop {
				width: 92.6%;
			}
		}
	}

	a{
		display: block;
		text-decoration: none;
		color: inherit;
	}

	.photo-wrap {
		position: relative;
		display: inline-block;
		width: 100%;
		overflow: hidden;
		pointer-events: none;
		// background-color: rgba(0,0,0,0.05);
		@include desktop {
			margin-bottom: 25px;
		}
		img {
			// opacity: 0.5;
			display: block;
			width: 100%;
			@include ease-long-transform(2s);
		}

		.half{
			z-index: 1;
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			height: 50%;
			background-color: rgba(0,255,0,.5);
		}
	}

	&:hover{
		.photo-wrap{
			img{
				// opacity: 1;
				// @include scale(1.07, 1.07);
				transform: scale(1.05);
				@include ease-long-transform(3s);
			}
		}

		.title{
			// @include skew(-10deg);
		}
	}


	.title{
		// margin-bottom: 5px;
		@include transform-origin(bottom, left);
		@include transitions-ease(.5s);
	}

	.title, .client{
		pointer-events: none;
	}
	
}


