#bio-wrapper{
	background-color: $bio-bg;
	padding-bottom: 73px;

	@include desktop {
		padding-bottom: 48px;
	}

	.content-grid{
		padding-top: 70px;

		@include mobile {
			max-width: 400px;
			padding-left: 15px;
			padding-right: 15px;
			// padding-bottom: 5px;
		}
		@include desktop {
			padding-top: 140px;
		}
		@include bigdesktop {
			padding-top: 215px;
		}
	}

	.page-name{
		@include desktop {
			right: 3.3%;
		}
		@media (min-width:1700px) {
			right: 0;
		}
	}

	.bio-p{
		font-family: 'Founders-L', sans-serif;
		font-size: 0.75em;
		font-weight: 100;
		line-height: 1.46em;

		@include desktop {
			font-size: 1.2em;
		}

		&:not(:last-child){
			margin-bottom: 18px;

			@include desktop {
				margin-bottom: 32px;
			}
		}

		.italic{
			font-style: italic;
		}
	}

	.page-title{
		position: relative;
		margin-bottom: 55px;
		// background-color: rgba(255,0,0,.3);
		@include desktop {
			width: 934px;
			height: 262px;
			margin-bottom: 75px;
		}

		.title{
			font-size: 2.5em;
			font-weight: 100;
			line-height: .925em;

			@include desktop {
				font-size: 5em;
			}

			@include bigdesktop {
				font-size: 7.05em;
			}
		}

		h1{
			font-family: 'Saol', serif;
		}
		h2{
			font-family: 'Saol-L-It', serif;
			// font-style: italic;
			margin-left: -5px;
		}
	}

	.section-name{
		font-size: .625em;
		font-family: 'Saol', serif;
		font-weight: 100;
		margin-bottom: 16px;

		@include desktop {
			font-size: 1em;
			margin-bottom: 66px;
		}
	}
	
	.overview-container{
		position: relative;
		width: 100%;
		margin-bottom: 52px;

		@include desktop {
			margin-bottom: 167px;
			@include flexIt;
			@include flexWrap(wrap);
		}

		.overview{
			width: 100%;
			margin-bottom: 36px;

			@include desktop {
				width: 41.66%;
				// margin-left: 50%;
				margin-bottom: 123px;

				@include flexOrder(2);
			}

			@media (min-width: 1700px) {
				margin-bottom: 0;
			}
			
		}

		.photo{
			position: relative;
			width: 50%;
			display: inline-block;

			@include mobile {
				margin-right: 8.33%;
			}

			@include desktop {
				@include flexOrder(1);
			}

			img{
				position: relative;
				width: 100%;

				@include desktop {
					// position: absolute;
					// bottom: 0;
					margin-top: 95px;
					width: 77.14%;
				}
			}
		}

		.hi-wrap{
			@include desktop {
				@include flexOrder(3);
				margin-left: 50%;
			}

			@media (min-width: 1700px) {
				// margin-top: -10vw;
				margin-top: -137px;
			}

			.hi{
				font-family: 'Saol', serif;
				font-size: 2.5em;
				font-weight: 100;
				line-height: .92em;

				@include desktop {
					font-size: 5em;
				}

				@include bigdesktop {
					font-size: 7em;
				}

				&.cursive{
					font-family: 'Saol-L-It', serif;
					// font-style: italic;
				}

				&:not(:last-child){
					margin-bottom: 3px;
				}
			}
		}
	}

	.other-projects-container{
		position: relative;
		width: 100%;
		margin-bottom: 63px;

		@include desktop {
			margin-bottom: 300px;
		}

		.section-name{
			margin-bottom: 21px;

			@include desktop {
				margin-bottom: 78px;
			}
		}

		.cols-wrapper{
			position: relative;
			width: 100%;

			ul{
				vertical-align: top;
			}

			.proj-row{
				z-index: 1;
				position: relative;
				width: 100%;

				&:before{
					content: '';
					position: absolute;
					top: 0; left: 0;
					width: 100%;
					height: 1px;
					background-color: #000;
					opacity: .2;
				}

				a{
					display: block;
					position: relative;
					width: 100%;
					height: 100%;
					padding: 13px 0 9px;
					text-decoration: none;
					color: $black-gray;

					@include desktop {
						padding: 25px 0 18px;
					}
				}

				span{
					position: absolute;
					top: 16px;
					// background-color: $black-gray;

					@include desktop {
						top: 30px;
						left: 6px;
						margin-left: 6px;
						margin-right: 23px;
					}
				}
				
				h5{
					padding-left: 17px;
					// padding-right: 35%;
					padding-right: 29%;

					@include desktop {
						padding-left: 36px;
					}

					@media (min-width: 1441px){
						// padding-left: 40px;
						// padding-right: 29%;
					}
				}
			}

			.projects-canvas{
				position: fixed;
				top: 0;
				left: 0;
				pointer-events: none;
				display: none;

				@include desktop {
					display: block;
				}

				img{
					opacity: 0;
					vertical-align: top;
					position: absolute;
					top: 50%;
					right: 50%;
					max-width: 360px;
					max-height: 300px;
					@include translate(50%, -50%);
					@include transitions-ease(.2s);
					
					&.active{
						opacity: 1;
					}
				}
			}
		}

		.expand-projects{
			position: absolute;
			width: 165px;
			height: 15px;
			bottom: -6px;
			right: 0;
			padding-left: 20px;
			font-family: 'Founders-L';
			font-size: .875em;
			text-align: right;
			color: inherit;
			text-decoration: none;
			@include transitions-ease(1.3s);
			overflow: hidden;

			@include desktop {
				display: none;
			}

			.copy{
				position: absolute;
				top: 0; right: 0;
				white-space: nowrap;
				text-align: right;
			}

			.compress{
				@include translate(0, 105%);
				@include trans-delayed(.4s, 0s);
			}

			.expand{
				@include trans-delayed(.4s, 1s);
			}
		}

		.hidden-projects-mob{
			@include mobile {
				max-height: 0;
				overflow: hidden;
				@include transitions-ease(1.3s);
			}
		}

		#toggle-extra-projects{
			&.show{
				bottom: -11px;

				& + .hidden-projects-mob{
					max-height: 385px;
					margin-bottom: 20px;
				}

				.compress{
					@include translate(0,0);
					@include trans-delayed(.4s,1s);
				}
				.expand{
					@include translate(0, 105%);
					@include trans-delayed(.4s, 0s);
				}
			}
		}

	}

	.dedication-container{
		position: relative;
		width: 100%;
		margin-bottom: 55px;

		@include desktop {
			margin-bottom: 233px;
		}

		.section-name{
			margin-bottom: 20px;

			@include desktop {
				margin-bottom: 65px;
			}
		}

		.dedicated-to{
			margin-bottom: 23px;

			@include desktop {
				margin-bottom: 75px;
			}

			h4{
				font-size: 1.375em;
				font-family: 'Saol';
				font-weight: 100;
				line-height: 1em;

				@include desktop {
					font-size: 4em;
					line-height: .88em;
				}

				&.cursive{
					font-family: 'Saol-L-It';
				}
			}
		}

		.bio-p{
			margin-bottom: 35px;

			@include desktop {
				margin-bottom: 0;
			}
		}

		.photo{
			img{
				position: relative;
				width: 100%;

				@include desktop {
					width: 82.19%;
				}
			}

			._caption{
				margin-top: 3px;
				font-family: 'Founders-L', sans-serif;
				// font-size: .7em;
				font-size: 10px;
				font-weight: 100;

				.cursive{font-style: italic;}

				@include desktop {
					position: absolute;
					bottom: -35px;
					margin-top: 0;
					font-size: .7em;
				}
			}
		}
	}

	.afterword-container{
		margin-bottom: 45px;

		@include desktop {
			// margin-bottom: 220px;
			margin-bottom: 147px;
		}

		.photo{
			display: block;
			margin-top: 35px;

			@include desktop {
				display: inline-block;
				margin-top: -65px;
			}

			img{
				position: relative;
				width: 100%;

				@include desktop {
					width: 82.19%;
				}
			}

			._caption{
				margin-top: 3px;
				font-family: 'Founders-L', sans-serif;
				// font-size: .7em;
				font-size: 10px;
				font-weight: 100;

				a{
					color: inherit;
					text-decoration: none;
				}

				@include desktop {
					position: absolute;
					bottom: -35px;
					margin-top: 0;
					font-size: .7em;
				}
			}
		}

		.quote{
			margin-bottom: 7px;
			padding-top: 42px;

			@include desktop {
				padding-top: 80px;
			}

			h4{
				font-size: 1.25em;
				font-family: 'Saol';
				font-weight: 100;
				line-height: .9em;

				@include desktop {
					font-size: 3em;
					line-height: .85em;
				}

				.cursive{
					font-family: 'Saol-L-It';
				}

				&.right{
					text-align: right;
				}

				&:not(:first-child){
					margin-top: 9px;

					@include desktop {
						margin-top: 18px;
					}
				}
			}
		}

		.author{
			text-align: right;
			margin-top: 6px;

			@include desktop {
				margin-top: 18px;
			}

			.line{
				display: inline-block;
				position: relative;
				top: -5px;
				width: 21px;
				height: 1px;
				margin-right: 8px;
				background-color: $black-gray;

				@include desktop {
					top: -17px;
					width: 60px;
					margin-right: 20px;
				}
			}

			h5{
				display: inline-block;
				font-size: 1.125em;
				font-family: 'Saol-It', serif;
				// font-style: italic;
				font-weight: 100;

				@include desktop {
					font-size: 2.5em;
				}
			}
		}
	}

	.acknowledgements-container{
		position: relative;
		width: 100%;
		margin-bottom: 62px;

		@include desktop {
			// margin-bottom: 170px;
			margin-bottom: 268px;
		}

		.section-name{
			margin-bottom: 20px;

			@include desktop {
				margin-bottom: 70px;
			}
		}
	}
}


