.cases-page {
	background-color: #fff;
	
	&.has-menu{
		padding-bottom: 73px;

		@include desktop {
			padding-bottom: 48px;
		}
	}

	@include desktop {
		cursor: none;

		a{
			cursor: none;
		}
	}

	.content-grid {
		padding-top: 52px;

		@include desktop {
			padding-top: 195px;
		}

		@include bigdesktop {
			padding-top: 310px;
		}
	}

	.page-name.back{
		@media (min-width: 420px) {
			right: 0;
		}

		@include desktop {
			display: none;
		}

		a{
			text-decoration: none;
			color: inherit;
		}
	}

	.subtitle {
		font-family: 'Saol-R', serif;
		font-size: 0.625em;
		font-weight: 100;

		@include desktop {
			// font-size: 0.9em;
			font-size: 1.04em;
		}
	}

	.case-wrap {
		padding-bottom: 157px;

		@include desktop {
			padding-bottom: 420px;
		}

		._title {
			font-family: 'Saol-L', serif;
			padding: 15px;
			line-height: 1em;
			font-size: 1.375em;
			margin-bottom: 10px;
			font-weight: 100;

			@media (min-width: 420px) {
				padding-left: 0;
				padding-right: 0;
			}

			@include desktop {
				font-size: 4em;
				font-weight: 100;
				line-height: 1em;
				margin-bottom: 110px;
				padding: 0;
			}

			span{display: inline-block;}

		}

		._cover {
			position: relative;
			width: 100%;
			margin-bottom: 32px;
			overflow: hidden;

			@include desktop {
				margin-bottom: 120px;
			}

			img {
				display: block;
				width: 100%;
			}

		}

		._info {
			position: relative;
			width: 100%;
			min-height: 210px;
			margin-bottom: 170px;
			font-family: 'Founders-L', sans-serif;
			font-weight: 100;
			color: $black-gray;
			display: none;

			@include desktop {
				@include flexIt;
			}

			.details, .intro {
				position: relative;
				vertical-align: top;
				@include flexself-stretch;
				@include flexIt;
				@include flex-direction(vertical);
				@include flex-spacebetween;
			}

			.spec {
				&:nth-child(2){
					margin-top: -20px;
				}

				.label {
					opacity: .7;
					margin-bottom: 6px;
				}

				.label, h2, h3, h4 {
					font-size: .9em;
					font-weight: 100;
					white-space: normal;
				}

				a {
					display: inline-block;
					text-decoration: none;
					color: inherit;
				}

			}

			.intro {
				p {
					font-size: 1em;
					line-height: 1.35em;
					// margin-bottom: 80px;
					margin-bottom: 40px;
				}

				._cta {
					opacity: .7;
					position: relative;
					display: inline-block;
					width: 120px;
					font-size: .9em;
					color: inherit;
					text-decoration: none;
					@include transitions-ease(.4s);

					.link-arrow {
						margin-left: 15px;
					}

					&:hover {
						opacity: 1;
					}

				}

			}

		}

		._inspiration {
			position: relative;
			width: 100%;
			margin-bottom: 40px;
			padding: 0 15px;

			@include desktop{
				padding: 0;
			}

			@include bigdesktop {
				margin-bottom: 200px;
				// padding: 0;
			}

			.subtitle {
				margin-bottom: 19px;

				@include desktop {
					margin-bottom: 80px;
				}
			}

			.images-container {
				vertical-align: top;

				.single-img {
					position: relative;
					display: inline-block;
					overflow: hidden;
					vertical-align: top;

					&.push-bottom {
						margin-bottom: 18px;
						@include desktop {
							margin-bottom: 40px;
						}
						@include bigdesktop {
							margin-bottom: 80px;
						}
					}

					&.four60 {
						width: 100%;

						@include desktop {
							width: 78.85%;
						}
					}

					&.third {
						width: 83.33%;
						margin-bottom: 18px;
						@include desktop {
							width: 33%;
							margin-right: 7%;
							margin-bottom: 0;
						}
					}

					&.forty {
						width: 83.33%;
						@include desktop {
							width: 39.72%;
						}
					}

					&.forty4 {
						width: 83.33%;
						@include desktop {
							width: 44.9%;
							margin-right: 6.3%;
						}
					}

					&.forty8 {
						width: 83.33%;
						margin-bottom: 18px;
						@include desktop {
							width: 48.45%;
							margin-bottom: 0;
						}
					}

					&.top-align {
						vertical-align: top;
					}

					&.p-a-b{
						@include desktop {
							position: absolute;
							bottom: 0;
						}
					}

					&.mb-80{
						margin-bottom: 15px;
						@include desktop {
							margin-bottom: 40px;
						}
						@include bigdesktop {
							margin-bottom: 80px;
						}
					}
					&.mb-71{
						margin-bottom: 12px;
						@include desktop {
							margin-bottom: 35px;
						}
						@include bigdesktop {
							margin-bottom: 71px;
						}
					}
					&.mb-15-mob{
						@include mobile {
							margin-bottom: 15px;
						}
					}
					&.mb-80-desk{
						@include desktop {
							margin-bottom: 35px;
						}

						@include bigdesktop {
							margin-bottom: 80px;
						}
					}

					&.p-r-0-desk{
						@include desktop {
							position: absolute;
							right: 0;
						}
					}&.p-r-0{
						position: absolute;
						right: 0;
					}
					&.fortythree-6{
						width: 83.33%;
						@include desktop {
							width: 43.66%;
						}
					}
					&.fortyseven-9{
						width: 83.33%;
						@include desktop {
							width: 47.94%;
						}
					}
					&.fortyfour-4{
						width: 44.4%;
					}
					&.fortysix{
						width: 83.33%;
						@include desktop {
							width: 46.06%;
						}
					}
					&.fortyseven{
						width: 47%;
					}
					&.fortyseven-6{
						width: 83.33%;
						@include desktop {
							width: 47.6%;
						}
					}
					&.sixty-1{
						width: 52.6%;
						@include mobile {
							margin-left: 5.5%;
						}

						@include desktop {
							width: 60.14%;
							// width: 66.66%;
						}
					}
					&.thirtyeight-7{
						width: 47%;
						@include desktop {
							width: 38.71%;
						}
					}
					&.offset-five-7{
						margin-left: 5.72%;
					}

					img {
						position: relative;
						width: 100%;
						vertical-align: top;
					}
				}
				
				&.bks{
					&:first-child{
						margin-bottom: 15px;

						@include desktop {
							margin-bottom: 40px;
						}
						@include bigdesktop {
							margin-bottom: 80px;
						}
					}

					.insp1{
						img{
							max-width: 460px;
							float: right;
						}
					}
				}

				&.tbh{
					.insp1{
						img{
							max-width: 460px;
							float: right;
						}
					}
					.insp4{
						img{
							max-width: 460px;
						}
					}
				}
			}

		}

		._project-details {
			.full-image {
				position: relative;
				width: 100%;
				overflow: hidden;
				&:not(:last-child){margin-bottom: 40px;}

				&.middle {
					@include desktop {
						margin-bottom: 80px;
					}
					@include bigdesktop {
						margin-bottom: 180px;
					}

				}

				img {
					position: relative;
					width: 100%;
					vertical-align: top;
				}

			}

			.credits-container {
				display: none;
				
				@include desktop {
					display: block;
					margin-top: 65px;
					margin-bottom: 60px;
					width: 58.33%;
					margin-left: 41.66%;
				}

				@include bigdesktop {
					margin-top: 135px;
					margin-bottom: 130px;
					width: 41.66%;
					margin-left: 58.33%;
				}

				.subtitle {
					margin-bottom: 35px;

					@include desktop {
						font-size: 0.9em;
					}

					@include bigdesktop {
						margin-bottom: 75px;
					}
				}

				.people-list {
					font-family: 'Founders-L', sans-serif;
					font-size: 0.9em;
					font-weight: 100;

					li:not(:last-child) {
						margin-bottom: 10px;
						@include bigdesktop {
							margin-bottom: 20px;
						}
					}

					.role {
						opacity: .7;
						display: inline-block;
						width: 60%;
					}

					.who {
						width: 60%;
						color: inherit;
						text-decoration: none;
					}

				}

			}

		}

	}

	.next-project {
		position: relative;
		width: 100%;
		// margin-bottom: 38px;

		@include desktop {
			// margin-bottom: 42px;
		}

		.subtitle {
			padding: 0px 15px;
			margin-bottom: 12px;

			@media (min-width: 420px) {
				padding-left: 0;
				padding-right: 0;
			}

			@include desktop {
				padding: 0;
				margin-bottom: 38px;
				font-size: .9em;
			}

		}

		.title {
			position: relative;
			display: inline-block;
			font-family: 'Saol-L', serif;
			font-size: 1.375em;
			padding: 0px 15px;
			font-weight: 100;
			// line-height: 1em;
			line-height: .85em;
			width: 100%;
			// margin-bottom: 20px;

			@media (min-width: 420px) {
				padding-left: 0;
				padding-right: 0;
			}

			@include desktop {
				// margin-bottom: 0;
				width: 83.33%;
				padding: 0;
				font-size: 4em;
			}

			a {
				color: inherit;
				text-decoration: none;
			}

		}

		.back-top {
			font-size: .9em;
			width: 16.66%;
			display: inline-block;
			padding-right: 9px;

			@include mobile {
				display: none;
			}
		}
	}

}

#nextTitle.hide {
	display: none;
}
.case-preloader {
	// display: none;
	// opacity: .1;
	pointer-events: none;
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-right: 140px;
	background-color: #fff;

	.content-grid {
		height: 100%;
	}

	.inner-wrap {
		position: relative;
		width: 83.33%;
		height: 100%;
	}

	.goTo {
		width: 100vw;
		position: absolute;
		bottom: 58px;
		font-family: 'Saol-L', serif;
		line-height: 1em;
		font-size: 1.375em;
		font-weight: 100;
		padding: 15px;

		@include desktop {
			bottom: 42px;
			font-size: 4em;
			font-weight: 100;
			line-height: 1em;
			margin-bottom: 110px;
			padding: 0;
		}

		span {
			display: inline-block;
			&.transition {
				@include transitions-ease(1s);
			}
		}

	}
}

#case-info-trigger{
	cursor: pointer;
	// z-index: 20;
	position: fixed;
	bottom: 60px;
	right: 15px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: $black-gray;
	overflow: hidden;

	font-family: 'Saol-L';
	font-size: 0.875em;
	text-align: center;
	line-height: 50px;
	color: #fff;
	// @include transitions-ease(1s);
	transition: bottom 1s cubic-bezier(.3,0,.2,1), z-index 0s cubic-bezier(.3,0,.2,1) 1s;

	@include desktop {
		display: none;
	}

	.active-bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		@include translate(0, 100%);
		@include transitions-ease(.4s);
	}

	&:before, &:after{
		z-index: 1;
		content: '';
		position: absolute;
		margin: auto;
		top: 0; bottom: 0;
		left: 0; right: 0;
		width: 1px;
		height: 24px;
		background-color: $black-gray;
		opacity: 0;
		@include transitions-ease(1s);
	}

	&:before{
		@include rotate(45deg);
	}
	&:after{
		@include rotate(-45deg);
	}

	&.opened{
		transition: bottom 1s cubic-bezier(.3,0,.2,1);
		z-index: 20;
		bottom: 18px;

		&:before, &:after{opacity: 1;}
		.label{@include translate(0,-25px);}
		.active-bg{@include translate(0,0);}
	}
}

#case-info-wrap{
	z-index: 19;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	background-color: $black-gray;
	@include translate(100%, 0);
	@include transitions-ease(1.1s);

	font-family: 'Founders-L';
	color: #fff;

	@include desktop {
		display: none;
	}

	&.opened{
		@include translate(0,0);
	}

	.width-restriction{
		position: relative;
		margin: 0 auto;
		max-width: 400px;
		width: 100%;
		height: 100%;

	}

	a{
		color:inherit;
		text-decoration: none;
	}

	.details{
		position: relative;
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.spec{
		font-size: .625em;
		&:first-child{margin-bottom: 15px;}

		.label, .role, .client, .date{
			font-size: 1em;
			font-weight: 100;
		}

		.label{
			opacity: .3;
			margin-bottom: 3px;
		}
		
		&--date{
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	._cta{
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: .75em;
		opacity: .3;
	}
	.link-arrow{
		margin-left: 12px;
	}

	.description{
		margin-bottom: 30px;
		font-size: .75em;
		line-height: 1.5em;
	}

	.credits-container{
		.subtitle{
			margin-bottom: 23px;
			font-weight: 100;
		}

		.role, .who{font-size: .625em;}

		.role{
			display: inline-block;
			width: 98px;
			opacity: .3;
		}
		
		li{
			margin-bottom: 7px;
		}
	}
}

span.title-space{
	width: 6px;

	@include desktop {
		width: 14px;
	}
}

// Cases images bg color
#lil-wrapper {
	._cover {
		background-color: #f2e5dc;
	}

	.full-image {
		background-color: #fdf4e8;
	}

}

#trb-wrapper {
	._cover {
		background-color: #fcf2f4;
	}

	.full-image {
		background-color: #faf4f8;
	}

}

#wif-wrapper {
	._cover {
		background-color: #f3f5f2;
	}

	.full-image {
		background-color: #f3f3f1;
	}

}

#tbh-wrapper {
	._cover {
		background-color: #f2e5dc;
	}

	.full-image {
		background-color: #fdf4e8;
	}

}

#odt-wrapper {
	._cover {
		background-color: #d8eff5;
	}

	.full-image {
		background-color: #e9f7f8;
	}

}

#bs-wrapper {
	._cover {
		background-color: #f6f6ea;
	}

	.full-image {
		background-color: #f7f7ed;
	}

}

#gtg-wrapper {
	._cover {
		background-color: #faf4f8;
	}

	.full-image {
		background-color: #faf4f8;
	}

}

#mg-wrapper {
	._cover {
		background-color: #fdf3e7;
	}

	.full-image {
		background-color: #fdf4e8;
	}

}

#ohr-wrapper {
	._cover {
		background-color: #f3f5f2;
	}

	.full-image {
		background-color: #f3f3f1;
	}

}

#fs-wrapper {
	._cover {
		background-color: #faf4f8;
	}

	.full-image {
		background-color: #faf4f8;
	}

}

#mov-wrapper {
	._cover {
		background-color: #fefaf6;
	}

	.full-image {
		background-color: #fefaf6;
	}

}

#st-wrapper {
	._cover {
		background-color: #f3f3f1;
	}

	.full-image {
		background-color: #f3f3f1;
	}

}
