.cases-page {
	background-color: #fff;

	.content-grid {
		padding-top: 195px;
	}

	.subtitle {
		font-family: 'Saol-R', serif;
		font-size: 0.9em;
		font-weight: 100;
		@include smoothFont;
	}

	.case-wrap {
		padding-bottom: 60px;

		@include desktop {
			padding-bottom: 420px;
		}

		._title {
			font-family: 'Saol-L', serif;
			padding: 15px;
			font-size: 2em;
			margin-bottom: 40px;

			@include desktop {
				font-size: 4em;
				font-weight: 100;
				line-height: 1em;
				margin-bottom: 110px;
				padding: 0;
			}

		}

		._cover {
			position: relative;
			width: 100%;
			margin-bottom: 120px;
			overflow: hidden;

			img {
				display: block;
				width: 100%;
			}

		}

		._info {
			position: relative;
			width: 100%;
			min-height: 210px;
			margin-bottom: 170px;
			font-family: 'Founders-L', sans-serif;
			font-weight: 100;
			color: $black-gray;
			display: none;

			@include desktop {
				@include flexIt;
			}

			.details, .intro {
				position: relative;
				vertical-align: top;
				@include flexself-stretch;
				@include flexIt;
				@include flex-direction(vertical);
				@include flex-spacebetween;
			}

			.spec {
				.label {
					opacity: .7;
					margin-bottom: 6px;
				}

				.label, h2, h3, h4 {
					font-size: .9em;
					font-weight: 100;
					white-space: normal;
				}

				a {
					display: inline-block;
					text-decoration: none;
					color: inherit;
				}

			}

			.intro {
				p {
					font-size: 1em;
					// margin-bottom: 80px;
					margin-bottom: 40px;
				}

				._cta {
					opacity: .7;
					position: relative;
					display: inline-block;
					width: 120px;
					font-size: .9em;
					color: inherit;
					text-decoration: none;
					@include transitions-ease(.4s);

					.link-arrow {
						margin-left: 15px;
					}

					&:hover {
						opacity: 1;
					}

				}

			}

		}

		._inspiration {
			position: relative;
			width: 100%;
			margin-bottom: 60px;

			@include desktop {
				margin-bottom: 200px;
			}

			.subtitle {
				margin-bottom: 80px;
			}

			.images-container {
				vertical-align: top;

				@include mobile {
					margin: 0;
					width: 50%;
					text-align: center;
				}

				.single-img {
					position: relative;
					display: inline-block;

					&.push-bottom {
						margin-bottom: 15px;
					}

					@include desktop {
						&.push-bottom {
							margin-bottom: 80px;
						}

					}

					&.four60 {
						width: 82.2%;
					}

					&.third {
						width: 33%;
						margin-right: 10%;
					}

					&.forty {
						width: 39.72%;
					}

					&.forty4 {
						width: 44.5%;
						margin-right: 6.5%;
					}

					&.forty8 {
						width: 48.45%;
					}

					&.top-align {
						vertical-align: top;
					}

					img {
						position: relative;
						width: 100%;
						vertical-align: top;
					}

				}

			}

		}

		._project-details {
			.full-image {
				position: relative;
				width: 100%;
				overflow: hidden;
				margin-bottom: 40px;

				&.middle {
					@include desktop {
						margin-bottom: 180px;
					}

				}

				img {
					position: relative;
					width: 100%;
					vertical-align: top;
				}

			}

			.credits-container {
				@include mobile {
					display: none;
				}

				margin-top: 135px;
				margin-bottom: 130px;

				.subtitle {
					margin-bottom: 75px;
				}

				.people-list {
					font-family: 'Founders-L', sans-serif;
					font-size: 0.9em;
					font-weight: 100;

					li:not(:last-child) {
						margin-bottom: 20px;
					}

					.role {
						opacity: .7;
						display: inline-block;
						width: 60%;
					}

					.who {
						width: 60%;
						color: inherit;
						text-decoration: none;
					}

				}

			}

		}

	}

	.next-project {
		position: relative;
		width: 100%;
		margin-bottom: 42px;

		.subtitle {
			padding: 0px 15px;
			margin-bottom: 10px;

			@include desktop {
				padding: 0;
				margin-bottom: 38px;
			}

		}

		.title {
			position: relative;
			display: inline-block;
			font-family: 'Saol-L', serif;
			font-size: 2.5em;
			padding: 0px 15px;
			font-weight: 100;
			line-height: 1em;
			width: 100%;
			margin-bottom: 20px;

			@include desktop {
				margin-bottom: 0;
				width: 83.33%;
				padding: 0;
				font-size: 4em;
			}

			a {
				color: inherit;
				text-decoration: none;
			}

		}

		.back-top {
			font-size: .85em;

			@include mobile {
				display: none;
			}
		}
	}

}

.case-preloader {
	display: none;
	opacity: .1;
	pointer-events: none;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-right: 140px;
	background-color: #fff;

	.content-grid {
		height: 100%;
	}

	.inner-wrap {
		position: relative;
		width: 83.33%;
		height: 100%;
	}

	.goTo {
		width: 100vw;
		position: absolute;
		bottom: 42px;
		font-family: 'Saol-L', serif;
		font-size: 4em;
		font-weight: 100;
		line-height: 1em;

		span {
			display: inline-block;
			@include transitions-ease(1s);
		}

	}

}

span.title-space {
	width: 30px;
}

// Cases images bg color
#lil-wrapper {
	._cover {
		background-color: #f2e5dc;
	}

	.full-image {
		background-color: #fdf4e8;
	}

}

#trb-wrapper {
	._cover {
		background-color: #fcf2f4;
	}

	.full-image {
		background-color: #faf4f8;
	}

}

#wif-wrapper {
	._cover {
		background-color: #f3f5f2;
	}

	.full-image {
		background-color: #f3f3f1;
	}

}

#tbh-wrapper {
	._cover {
		background-color: #f2e5dc;
	}

	.full-image {
		background-color: #fdf4e8;
	}

}

#odt-wrapper {
	._cover {
		background-color: #d8eff5;
	}

	.full-image {
		background-color: #e9f7f8;
	}

}

#bs-wrapper {
	._cover {
		background-color: #f6f6ea;
	}

	.full-image {
		background-color: #f7f7ed;
	}

}

#gtg-wrapper {
	._cover {
		background-color: #faf4f8;
	}

	.full-image {
		background-color: #faf4f8;
	}

}

#mg-wrapper {
	._cover {
		background-color: #fdf3e7;
	}

	.full-image {
		background-color: #fdf4e8;
	}

}

#ohr-wrapper {
	._cover {
		background-color: #f3f5f2;
	}

	.full-image {
		background-color: #f3f3f1;
	}

}

#fs-wrapper {
	._cover {
		background-color: #faf4f8;
	}

	.full-image {
		background-color: #faf4f8;
	}

}

#mov-wrapper {
	._cover {
		background-color: #fefaf6;
	}

	.full-image {
		background-color: #fefaf6;
	}

}

#st-wrapper {
	._cover {
		background-color: #f3f3f1;
	}

	.full-image {
		background-color: #f3f3f1;
	}

}
