#contact-wrapper{
	height: 100%;
	background-color: #f5efea;

	.responsive-container{
		position: relative;
		width: 100%;
		max-width: 1660px;
		height: 100%;
		padding-top: 100px;
		// padding-right: 6%;
		padding-right: 3.3%;

		@media (min-width: 1441px){
			padding-top: 160px;
		}

		@media (min-width: 1700px){
			width: 90%;
			padding-right: 0;
		}
	}

	.img-wrapper{
		position: absolute;
		top: 0;
		width: 30.12%;
		height: 100%;
		background-image: url('../img/contact.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.content-wrapper{
		position: absolute;
		top: 0;
		right: 0;
		// width: 65.25%;
		width: 63.255%;
		height: 100%;
		padding-bottom: 40px;

		@media (min-width: 1441px){
			padding-bottom: 80px;
		}

		.contact-info{
			position: relative;
			display: inline-block;
			width: 33%;
			height: 100%;

			.address{
				position: absolute;
				bottom: 0;
				font-family: 'Founders-L';
				font-size: .9em;
				@include smoothFont;
				color: #0c0407;
			}
		}

		.postcard{
			position: relative;
			display: inline-block;
			float: right;
			// width: 35.72%;
			width: 61%;
			max-width: 585px;
			height: 100%;

			.salute-container{
				position: relative;
				padding-top: 10px;
				font-family: 'Saol';
				text-align: right;
				@include smoothFont;

				.salute{
					font-weight: 100;
					font-size: 6em;
					line-height: 1.15em;
					padding-right: 8px;
					@include smoothFont;
				}

				.cursive{
					font-family: 'Saol-L-It';
				}

				.intro-wrap{
					position: relative;
					width: 100%;
					@include flexIt;
					@include flex-spacebetween;

					.line-box{
						position: relative;
						@include flex-grow(2);
						padding-top: 30px;
						
						@media (min-width: 1700px){
							// padding-left: 20px;
						}
						
						.line{
							position: relative;
							width: 100%;
							height: 1px;
							background-color: rgba(0,0,0,.4);
						}
					}

					.copy-box{
						// width: 80%;
						@include flex-grow(1);
						font-size: 2.5em;
						font-weight: 100;
					}
				}
			}

			.form-container{
				position: absolute;
				left: 0; bottom: 0;
				width: 100%;

				.sz-submit-btn{
					margin-top: 34px;
				}
			}
		}
	}
}










