#contact-wrapper{
	background-color: #f5efea;

	.responsive-container{
		position: relative;
		width: 100%;
		height: 100%;
		padding-top: 100px;
		padding-right: 6%;

		@media (min-width: 1441px){
			padding-top: 160px;
		}
	}

	.img-wrapper{
		position: absolute;
		top: 0;
		width: 30.12%;
		height: 100%;
		background-image: url('../img/contact.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.content-wrapper{
		position: absolute;
		top: 0;
		right: 0;
		width: 63.25%;
		height: 100%;
		padding-bottom: 40px;
		border: 1px solid purple;

		@media (min-width: 1441px){
			padding-bottom: 80px;
		}

		.contact-info{
			position: relative;
			display: inline-block;
			width: 33%;
			height: 100%;

			.address{
				position: absolute;
				bottom: 0;
				font-family: 'Founders-L';
				font-size: .9em;
				@include smoothFont;
				color: #0c0407;
			}
		}

		.postcard{
			position: relative;
			display: inline-block;
			float: right;
			// width: 35.72%;
			width: 60%;
			height: 100%;

			.salute-container{
				text-align: right;
				@include smoothFont;

				h1{
					font-family: 'Saol';
					font-weight: 100;
					font-size: 6em;
					margin-bottom: 7px;
					padding-right: 8px;

					.cursive{
						font-family: 'Saol-It';
					}
				}

				h2{
					font-family: 'Saol-It';
					font-size: 2.5em;
					font-weight: 100;
				}
			}

			.form-container{
				position: absolute;
				left: 0; bottom: 0;
				width: 100%;

				.sz-submit-btn{
					margin-top: 30px;
				}
			}
		}
	}
}










