#intro-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $intro-bg;
	overflow: hidden;

	.cols-wrapper{
		position: relative;
		width: 100%;
		max-width: 1400px;
		height: 100%;
		margin: 0 auto;

		@include mobile {
			max-width: 400px;
			@include flexIt;
			@include flexWrap(wrap);
		}
	}

	.col{
		position: relative;
		display: inline-block;
		text-align: right;
		vertical-align: top;

		@include desktop {
			height: 100%;
			padding: 70px 50px 80px;
		}

		@include fulldesktop {
			padding: 70px 0;
		}

		&.left{
			width: 100%;
			@include mobile {
				@include flexOrder(2);
				text-align: left;
				padding: 0 18px 28px;

				.inner-wrapper{
					@include flexIt;
					@include flex-alignBottom;
					@include flexWrap(wrap);
				}
			}

			@include desktop {
				width: 40%;
			}

			@include fulldesktop {
				width: 33.33%;
			}
		}
		&.right{
			width: 100%;
			@include mobile {
				@include flexOrder(1);
				padding: 28px 18px 40px;
			}

			@include desktop {
				width: 60%;
			}

			@include fulldesktop {
				width: 66.66%;
			}
		}

		.descriptor{
			font-family: 'Saol';
			// font-size: 1.375em;
			font-size: 28px;
			line-height: 1em;
			font-weight: lighter;
			margin-bottom: 20px;

			.cursive{
				display: block;
				font-family: 'Saol-It';
			}

			@include desktop {
				font-size: 2em;
			}

			@include bigdesktop {
				font-size: 2.5em;
			}

			@include fulldesktop {
				font-size: 3em;
				margin-top: 6px;
				margin-bottom: 0;
			}
		}

		.introduction{
			@include desktop {
				position: absolute;
				bottom: 0;
				font-size: 1.2em;
			}
		}

		.intro-bio{
			font-family: 'Founders-L';
			font-size: 18px;
			line-height: 1.5em;
			text-align: left;

			&:not(:last-child){
				margin-bottom: 18px;
			}

			@include desktop {
				// font-size: 1em;
				font-size: 20px;
			}

			@media (min-width: 1400px) {
				font-size: 22px;
			}

			@include fulldesktop {
				font-size: 24px;
			}
		}

		.title{
			font-family: 'Saol-L';
			// font-size: 3.75em;
			font-size: 60px;
			line-height: .75em;
			font-weight: 100;

			.mask-container{
				padding-top: 5px;
			}

			@include desktop {
				// font-size: 6em;
				font-size: 140px;
				line-height: .9em;
			}

			@include bigdesktop {
				font-size: 9em;
			}

			@media (min-width: 1400px) {
				font-size: 200px;
			}

			@include fulldesktop {
				font-size: 12em;
				line-height: 1em;

				.mask-container{
					padding-top: 0;
				}
			}
		}

		.page-name{
			position: absolute;
			top: -2px;

			@include desktop {
				top: auto;
				bottom: 4px;
				right: 0;
			}

			@include fulldesktop {
				bottom: 2px;
			}
		}

		.mob-enter-btn{
			position: relative;
			margin: 0 auto;
			margin-top: 35px;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			border: 1px solid rgba(26,26,26,.2);
			text-align: center;
			text-transform: uppercase;
			font-family: 'Founders-L';
			font-size: .75em;
			cursor: pointer;
			@include transitions-ease(.4s);

			@media (min-width: 768px) {
				width: 90px;
				height: 90px;
			}

			a{
				position: absolute;
				margin: auto;
				top: 0; bottom: 0;
				left: 0; right: 0;
				height: 2em;
				text-decoration: none;
				color: inherit;

				@media (min-width: 768px) {
					height: 1.8em;
				}

				span{
					pointer-events: none;
				}
			}

			@include desktop {
				display: none;
			}
		}
	}
}