#home-wrapper{
	background-color: #fff;
	padding-top: 48px;
	padding-bottom: 73px;

	@include desktop {
		padding-top: 0;
		padding-bottom: 48px;
	}

	.content-grid{
		padding: 0px 15px;

		@include desktop {
			// padding-top: 75px;
			padding-top: 140px;
			padding-left: 7.3%;
			padding-right: 7.3%;
		}

		@include bigdesktop {
			padding-top: 160px;
		}

		@media (min-width: 1700px) {
			padding-left: 0;
			padding-right: 0;
		}

		@include fulldesktop {
			padding-top: 200px;
		}

		.project-cover {
			@include mobile {
				width: 100%;
				margin: 0;
				transform: none;
				figure {
					margin-bottom: 13px;
				}
				&:first-child {
					margin-top: 150px;
				}

				&:not(:last-child){
					margin-bottom: 35px;
				}
			}
		}

		#grid-footer{
			// margin-bottom: 50px;
			// margin-bottom: 58px;
		}
	}

	#proj-preloader{
		z-index: 2;
		position: fixed;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		opacity: 0;
		pointer-events: none;
		@include transitions-ease(.6s);

		&.show{
			opacity: 1;
		}
	}

	.projects-wrapper{
		position: relative;
		// margin-bottom: 63px;
		margin-bottom: 68px;

		@include desktop {
			margin-bottom: 115px;
		}

		@include fulldesktop {
			margin-bottom: 165px;
		}

		// Rearrange for parallax alignment

		.mg{
			@include desktop {
				// margin-top: 10vw;
				margin-bottom: 5vw;
			}
		}

		// Rearrange for filters functionality
		&.books-only{
			@include flexIt;
			@include flexWrap(wrap);

			.project-cover.branding{
				height: 0;
				margin-bottom: 0;
				margin-top: 0;
				overflow: hidden;
			}

			.project-cover.book{
				&.last{
					margin-bottom: 0;
				}

				@include desktop {
					&.gtg{
						margin-top: 12%;
						margin-left: 0;
						margin-bottom: 60px;
					}

					&.mg{
						margin-left: 50%;
					}

					&.ohr{
						margin-top: -25%;
						margin-left: 0;
						@include translate(0, 0);
					}
				}
			}

			.grid-title{
				@include desktop {
					width: 100%;
				}

				@include bigdesktop {
					padding-top: 20px;
				}
			}
		}

		&.branding-only{
			@include flexIt;
			@include flexWrap(wrap);

			.project-cover.book{
				height: 0;
				margin-bottom: 0;
				overflow: hidden;
			}

			@include desktop {
				margin-top: -20px;

				.order-1{
					@include flexOrder(1);
					transform: none;
				}

				.order-2{
					@include flexOrder(2);
					margin-top: 26.5%;
				}

				.order-3{
					@include flexOrder(3);
					transform: none;
				}

				.order-4{
					@include flexOrder(4);
					transform: none;
				}

				.grid-title{
					width: 100%;
					margin-top: -18.4%;
					margin-bottom: 10%;
				}
			}

			@media (min-width: 1441px) {
				.grid-title{
					margin-top: -16.4%;
					margin-bottom: 4%;
				}
			}
		}

	}

	.grid-title{
		color: $black-gray;
		position: absolute;
		top: 40px;
		left: 0;

		@include desktop {
			position: relative;
			padding-top: 40px;
			padding-bottom: 31px;
			@include translate(0, -105px);
			top: 4vw;
		}

		@media (min-width: 1441px){
			padding-top: 20px;
			padding-bottom: 51px;
		}

		@media (min-width: 1700px){
			padding-bottom: 93px;
		}

		h1{
			display: block;
			// font-size: 2.5em;
			font-size: 44px;
			font-weight: 100;
			// line-height: .9em;
			line-height: 1em;
			color: inherit;

			@include desktop {
				font-size: 5em;
			}

			@include bigdesktop {
				// font-size: 7em;
				font-size: 120px;
			}

			@media (min-width: 1441px) {
				font-size: 140px;
			}

			&.written{
				font-family: 'Saol-L-It', serif;
			}

			&.typed{
				display: inline-block;
				font-family: 'Saol-L', serif;
			}
		}

		.year-range{
			opacity: .6;
			position: relative;
			display: inline-block;
			margin-left: 4px;
			// font-size: .625em;
			font-size: 14px;
			font-family: 'Founders-L', sans-serif;
			font-weight: 100;
			letter-spacing: 1.5px;
			color: inherit;

			@include desktop {
				margin-left: 25px;
				// font-size: 1em;
				font-size: 16px;
			}

			@include bigdesktop {
				font-size: 20px;
			}

			@media (min-width: 1441px) {
				font-size: 24px;
			}
		}
	}
}