#home-wrapper{
	background-color: #fff;
	padding-top: 48px;

	@include desktop {
		padding-top: 0;
	}

	.content-grid{
		padding: 0px 15px;

		@include desktop {
			// padding-top: 75px;
			padding-top: 220px;
		}

		@media (min-width: 1700px) {
			padding-left: 0;
			padding-right: 0;
		}

		.project-cover {
			@include mobile {
				width: 100%;
				margin: 0;
				transform: none;
				figure {
					margin-bottom: 13px;
				}
				&:first-child {
					margin-top: 150px;
				}

				&:not(:last-child){
					margin-bottom: 35px;
				}
			}
		}

		#grid-footer{
			// margin-bottom: 50px;
			margin-bottom: 58px;
		}
	}

	.projects-wrapper{
		position: relative;
		// margin-bottom: 63px;
		margin-bottom: 68px;

		@include desktop {
			margin-bottom: 180px;
		}

		// Rearrange for filters functionality
		&.books-only{
			@include flexIt;
			@include flexWrap(wrap);

			.project-cover.branding{
				height: 0;
				margin-bottom: 0;
				overflow: hidden;
			}

			.project-cover.book.last{
				margin-bottom: 0;
			}
		}

		&.branding-only{
			@include flexIt;
			@include flexWrap(wrap);

			.project-cover.book{
				height: 0;
				margin-bottom: 0;
				overflow: hidden;
			}

			@include desktop {
				margin-top: -20px;

				.order-1{
					@include flexOrder(1);
					transform: none;
				}

				.order-2{
					@include flexOrder(2);
					margin-top: 26.5%;
				}

				.order-3{
					@include flexOrder(3);
					transform: none;
				}

				.order-4{
					@include flexOrder(4);
					transform: none;
				}

				.grid-title{
					width: 100%;
					margin-top: -11.4%;
					margin-bottom: 8%;
				}

			}
		}

	}

	.grid-title{
		color: $black-gray;
		position: absolute;
		top: 40px;
		left: 0;

		@include desktop {
			position: relative;
			padding-top: 20px;
			padding-bottom: 125px;
			@include translate(0, -105px);
		}

		h1{
			display: block;
			font-size: 2.5em;
			font-weight: 100;
			line-height: .9em;
			color: inherit;

			@include desktop {
				font-size: 5em;
			}

			@include bigdesktop {
				font-size: 7em;
			}

			&.written{
				font-family: 'Saol-L-It', serif;
			}

			&.typed{
				display: inline-block;
				font-family: 'Saol-L', serif;
			}
		}

		.year-range{
			opacity: .6;
			position: relative;
			display: inline-block;
			margin-left: 4px;
			font-size: .625em;
			font-family: 'Founders-L', sans-serif;
			font-weight: 100;
			letter-spacing: 1.5px;
			color: inherit;

			@include desktop {
				margin-left: 25px;
				font-size: 1em;
			}
		}
	}
}