#intro-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $intro-bg;

	.cols-wrapper{
		position: relative;
		width: 100%;
		max-width: 1400px;
		height: 100%;
		margin: 0 auto;
	}

	.col{
		position: relative;
		display: inline-block;
		height: 100%;
		padding: 100px 50px;
		text-align: right;
		vertical-align: top;

		&.left{
			width: 40%;
		}
		&.right{
			width: 60%;
		}

		.inner-wrapper{
			position: relative;
			width: 100%;
			height: 100%;
		}

		.descriptor{
			font-family: 'Saol';
			font-size: 3em;
			font-weight: lighter;
			@include smoothFont;
		}

		.intro-bio{
			position: absolute;
			bottom: 0;
		}

		.title{
			font-family: 'Saol-Light';
			font-size: 10em;
			line-height: 1em;
			font-weight: lighter;
			@include smoothFont;
		}

		.page-name{
			position: absolute;
			bottom: 0;
			right: 0;
			font-family: 'Saol';
			font-weight: lighter;
		}
	}
}