extends templates/layout.jade

include _modules/socialmedia-list.jade

block content
	include _modules/nav-menu.jade

	//- .test
	#bio-wrapper.page-wrapper.has-menu
		.inner-wrapper
			h6.page-name.top Biography

			.content-grid
				.page-title
					h1.title Art Director/ 
					h2.title Graphic Designer

				.overview-container
					.photo.col-5.push-1
						img(src="img/im-suze.jpg", alt="Hi! I'm Suzanne")

					.overview.col-5
						h3.section-name Overview
						.bio-wrap
							p With more than 12 years of experience, Suzanne's work brings clarity and delight to the storytelling experience, navigating between wonder and resonance.

							p In addition to a deep expertise in publishing Suzanne is experienced in digital design, branding, and project management. 

							p Suzanne is fluent in Portuguese and French.
						.hi-wrap
							h4.hi Hi!
							h4.hi.cursive Olá!
							h4.hi Allô!


				.other-projects-container
					h3.section-name Other Projects

					.cols-wrapper
						ul.col-5.push-1
							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name The Dust Bowl: An Illustred History

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name X: The Erotic Treasury

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name Bitten: Dark Erotic Stories

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name A Shade of Red: One Lipstick & One Hundred Women

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name Hundred Women

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name Get High Now

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name A Girl Named Misty

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name A Girl Named Hillary

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name The Outdoor Toddler Activity Book

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name Rainy Day Toddler Activity Book


						ul.col-5
							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name Haikubes

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name Instrument

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name Bike Snob Abroad

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name Forever Paris: 25 Walks in the Foosteps of Chanel, Hemingway, Picasso & ...

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name Rude Hand Gestures

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name Boo: The Life of the World’s Cutest Dog

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name A Girl Named Helen

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name A Girl Named Rosa

							li.proj-row
								a(href="#amazon")
									span.link-arrow.black
									h5.name American Girl of the Year Luciana (box set)

				
				.dedication-container
					.col-5.push-1
						h3.section-name Dedication

						.dedicated-to
							h4 For Antonie
							h4.cursive de Saint-Exupéry

						p Whose The Little Prince rattled my seven-year-old heart, giving me a fantastical joy of reading, and forever validating curiosity, tenderness, beauty and love in my life.

					.photo.col-5
						img(src="img/suzanne_pintinho.jpg", alt="Suze when she was 7 years old")


				.afterword-container
					.col-5.offset-6
						h3.section-name Afterword
						.afterword-wrap
							p The work displayed in this portfolio was selected to show sensibility and range. For more recent work, please refer to Behance. Suzanne is currently focused on designing useful non-fiction books for children and adults. At Callisto Media, Suzanne works extensively with illustrators and uses new technology and digital tools for creative innovation and efficient project management.

							p Outside of design, Suzanne is passionate about art. She enjoys makings collages, painting and playing with ceramics.

					.photo.col-5.offset-1
						img(src="img/afterword.jpg", alt="Suze's photo journal")

					.quote.col-5
						h4.right
							|"Let the beauty 
							br
							|we 
							span.cursive love 
							|be 
							br
							|what we do.

						h4
							|There are 
							br
							span.cursive hundreds 
							|of ways
							br
							|to kneel 
							span.cursive & 
							|kiss 
							br
							|the ground."

					.author.col-5.offset-6
						span.line
						h5 Rumi




