extends templates/layout.jade

include _modules/socialmedia-list.jade

block title
	title Bio – Suze LaGasa | Art Director & Graphic Designer

block content
	include _modules/nav-menu.jade
	+nav-menu("bio")

	#bio-wrapper.page-wrapper.has-menu
		.inner-wrapper
			//- .test
			.tester-cntnr
				.grid-tester
					.row
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols

			.content-grid
				h6.page-name.top Biography

				.page-title
					h1.title Art Director/ 
					h2.title Graphic Designer

				.overview-container
					.overview
						h3.section-name Overview
						.bio-wrap
							//- p.bio-p With more than 12 years of experience, Suzanne's work brings clarity and delight to the storytelling experience, navigating between wonder and resonance.

							//- p.bio-p In addition to a deep expertise in publishing Suzanne is experienced in digital design, branding, and project management. 

							//- p.bio-p Suzanne is fluent in Portuguese and French.

							p.bio-p Suzanne is a Brooklyn-based designer interested in the ways graphic design can construct clarity, spark curiosity and generate wonder. She’s passionate about color, photography, illustration and language. She’s committed to the practice of formatting stories and even the most basic information in a thoughtful aesthetic, with an eye for beauty. 

							p.bio-p She was influenced by the vibrancy and free spirit of her childhood home in Brazil, with it’s tropical palette and commitment to pleasure and joy. She developed a sensibility connected to nature from her time spent dodging snakes in the Amazon and jumping waves in the Atlantic. She caught a love for architecture and history from going to school in London. And in San Francisco, she studied design at the California College of the Arts, where she learned to structure ideas and speak the language of intentionality.
					
					figure.photo
						img(src="img/suze_lagasa.jpg", alt="Hi! I'm Suzanne")

					.hi-wrap.col-mob-12.col-5
						h4.hi Hi!
						h4.hi.cursive Olá!
						h4.hi Allô!


				.other-projects-container
					h3.section-name Other Projects

					.cols-wrapper
						ul#op-shifter-1.col-mob-12.push-mob-0.col-5.push-1
							.projects-canvas
								.imgs-wrap
									img(src="img/other_projects/B1.jpg", alt="The Dust Bowl book cover")
									img(src="img/other_projects/B2.jpg", alt="X: The Erotic Treasury book cover")
									img(src="img/other_projects/B3.jpg", alt="Bitten: Dark Erotic Stories book cover")
									img(src="img/other_projects/B4.jpg", alt="A Shade of Red book cover")
									img(src="img/other_projects/B5.jpg", alt="Get High Now book cover")
									img(src="img/other_projects/B6.jpg", alt="A Girl Named Misty book cover")
									img(src="img/other_projects/B7.jpg", alt="A Girl Named Hillary book cover")
									img(src="img/other_projects/B8.jpg", alt="The Outdoor Toddler Activity Book cover")
									img(src="img/other_projects/B9.jpg", alt="Rainy Day Toddler Activity Book cover")


							li.title.proj-row(data-id="0")
								a(href="https://www.amazon.com/dp/1452107947/" target="_blank")
									span.link-arrow.black
									h5.bio-p The Dust Bowl: An Illustrated History

							li.title.proj-row(data-id="1")
								a(href="https://www.amazon.com/dp/0811864022/" target="_blank")
									span.link-arrow.black
									h5.bio-p X: The Erotic Treasury

							li.title.proj-row(data-id="2")
								a(href="#amazon" target="_blank")
									span.link-arrow.black
									h5.bio-p Bitten: Dark Erotic Stories

							li.title.proj-row(data-id="3")
								a(href="https://www.chroniclebooks.com/titles/a-shade-of-red.html" target="_blank")
									span.link-arrow.black
									h5.bio-p A Shade of Red: One Lipstick & One Hundred Women

							li.title.proj-row(data-id="4")
								a(href="https://www.chroniclebooks.com/titles/get-high-now.html" target="_blank")
									span.link-arrow.black
									h5.bio-p Get High Now

							li.title.proj-row(data-id="5")
								a(href="#amazon" target="_blank")
									span.link-arrow.black
									h5.bio-p A Girl Named Misty

							li.title.proj-row(data-id="6")
								a(href="#amazon" target="_blank")
									span.link-arrow.black
									h5.bio-p A Girl Named Hillary

							li.title.proj-row(data-id="7")
								a(href="https://www.amazon.com/dp/1641523514" target="_blank")
									span.link-arrow.black
									h5.bio-p The Outdoor Toddler Activity Book

							li.title.proj-row(data-id="8")
								a(href="#amazon" target="_blank")
									span.link-arrow.black
									h5.bio-p Rainy Day Toddler Activity Book

						a(href="#")#toggle-extra-projects.expand-projects 
							span.copy.expand Expand List
							span.copy.compress Compress List

						ul#op-shifter-2.col-mob-12.col-5.hidden-projects-mob
							.projects-canvas
								.imgs-wrap
									img(src="img/other_projects/B10.jpg", alt="Haikubes Game photography")
									img(src="img/other_projects/B11.jpg", alt="Bike Snob Abroad book cover")
									img(src="img/other_projects/B13.jpg", alt="Rude Hand Gestures book cover")
									img(src="img/other_projects/B12.jpg", alt="Forever Paris book cover")
									img(src="img/other_projects/B14.jpg", alt="Boo: The dog book cover")
									img(src="img/other_projects/B15_2.jpg", alt="The Depression Workbook for Teens cover")
									img(src="img/other_projects/B16_2.jpg", alt="Conquer Anxiety Workbook for Teens cover")
									img(src="img/other_projects/B17_2.jpg", alt="Inspiration for Christian Teen Girls book cover")


							li.title.proj-row(data-id="0")
								a(href="https://www.chroniclebooks.com/titles/haikubes.html" target="_blank")
									span.link-arrow.black
									h5.bio-p Haikubes

							//- li.title.proj-row(data-id="1")
								a(href="https://www.amazon.com/dp/0811874745/" target="_blank")
									span.link-arrow.black
									h5.bio-p Instrument

							li.title.proj-row(data-id="1")
								a(href="#amazon" target="_blank")
									span.link-arrow.black
									h5.bio-p Bike Snob Abroad

							li.title.proj-row(data-id="2")
								a(href="https://www.chroniclebooks.com/titles/rude-hand-gestures-of-the-world.html" target="_blank")
									span.link-arrow.black
									h5.bio-p Rude Hand Gestures

							li.title.proj-row(data-id="3")
								a(href="https://www.chroniclebooks.com/titles/forever-paris.html" target="_blank")
									span.link-arrow.black
									h5.bio-p Forever Paris: 25 Walks in the Foosteps of Chanel, Hemingway, Picasso & more

							li.title.proj-row(data-id="4")
								a(href="https://www.chroniclebooks.com/titles/boo.html" target="_blank")
									span.link-arrow.black
									h5.bio-p Boo: The Life of the World’s Cutest Dog

							li.title.proj-row(data-id="5")
								a(href="https://www.amazon.com/dp/1641525770/ref=cm_sw_r_tw_dp_U_x_tc5ADbW2KA00E" target="_blank")
									span.link-arrow.black
									//- h5.bio-p A Girl Named Helen
									h5.bio-p The Depression Workbook for Teens

							li.title.proj-row(data-id="6")
								a(href="https://www.amazon.com/dp/1641524014/ref=cm_sw_r_tw_dp_U_x_ki5ADbK7PSQ2N" target="_blank")
									span.link-arrow.black
									//- h5.bio-p A Girl Named Rosa
									h5.bio-p Conquer Anxiety Workbook for Teens

							li.title.proj-row(data-id="7")
								a(href="#amazon" target="_blank")
									span.link-arrow.black
									//- h5.bio-p American Girl of the Year Luciana (box set)
									h5.bio-p Inspiration for Christian Teen Girls

				
				.dedication-container
					.col-mob-12.push-mob-0.col-5.push-1
						h3.section-name Dedication

						.dedicated-to
							h4 For Antonie
							h4.cursive de Saint-Exupéry

						//- p.bio-p
							|Whose 
							span.italic The Little Prince 
							|rattled my seven-year-old heart, giving me a fantastical joy of reading, and forever validating curiosity, tenderness, beauty and love in my life.

						p.bio-p 
							span.italic The Little Prince 
							|is the first book that I remember reading on my own. It astonished my seven-year-old self, giving me a life-long love of reading. It also showed me that cultivating imagination, noticing beauty, and tending to love are just as vital to our survival. 


					.photo.col-mob-12.col-4.offset-0
						img(src="img/suzanne_pintinho.jpg", alt="Suze when she was 7 years old")
						//- ._caption 
							|I was about this age when I first read 
							span.cursive The Little Prince.
						._caption Holding a baby chick in Brasilia.


				.afterword-container
					.intro.col-5.offset-6.col-mob-12.offset-mob-0
						h3.section-name Afterword
						.afterword-wrap
							//- p.bio-p
								|The work displayed in this portfolio was selected to show sensibility and range. For more recent work, please refer to 
								a.p-mask-link.p-link-invert(href="https://www.behance.net/lagasa" target="_blank" data-label="Behance") 
									span.link Behance

								|. Suzanne is currently focused on designing useful non-fiction books for children and adults at 
								a.p-mask-link.p-link-invert(href="https://www.callistomedia.com" target="_blank" data-label="Callisto Media")
									span.link Callisto Media
								|, Suzanne works extensively with illustrators and uses new technology and digital tools for creative innovation and efficient project management.

							//- p.bio-p Outside of design, Suzanne is passionate about art. She enjoys makings collages, painting and playing with ceramics.

							p.bio-p
								|The work displayed in this portfolio was selected to show a range of design sensibilities. For more recent work, please go to 
								a.p-mask-link.p-link-invert(href="https://www.behance.net/lagasa" target="_blank" data-label="Behance") 
									span.link Behance

								|.  Suzanne is currently designing non-fiction books aimed at fulfilling needs in people’s lives, such as an art activity book for kids, a workbook for teenagers to overcome depression, and a meditation guide to help people deepen their spirituality. 

					.photo.col-mob-12.offset-mob-0.col-5.offset-1
						.desktop-mask
							.inner
								img(src="img/afterword_2_opt.jpg", alt="Suze's photo journal")
						//- ._caption 
							|Photo by 
							a(href="https://www.instagram.com/alex_lvrs/" target="_blank" data-label="Alex Loup").p-mask-link.p-link-invert
								span.link Alex Loup

					.quote.col-mob-7.offset-mob-5.col-4.offset-0
						h4.right
							|“Let the beauty 
							br
							|we 
							span.cursive love 
							|be 
							br
							|what we do

						h4
							|There are 
							br
							span.cursive hundreds 
							|of ways
							br
							|to kneel 
							span.cursive & 
							|kiss 
							br
							|the ground.”

						.author
							span.line
							h5 Rumi


				.acknowledgements-container
					.col-mob-12.offset-mob-0.col-5.offset-6
						h3.section-name Acknowledgements
						.acknowledgements-wrap
							//- p.bio-p
								|Photographer 
								a.p-mask-link.p-link-invert(href="https://andrewmccaul.com/" target="_blank" data-label="Andrew McCaul")
									span.link Andrew McCaul
								|  made this portfolio possible by kindly shooting most of the covers featured here with endless care and attention.

							//- p.bio-p
								|I’m also eternally grateful for the super power help from of my trusted editors, proofers, and life-coaches 
								a.p-mask-link.p-link-invert(href="https://www.linkedin.com/in/marisa-polansky-1a727414/" target="_blank" data-label="Marisa Polansky")
									span.link Marisa Polansky
								|  and 
								a.p-mask-link.p-link-invert(href="http://www.chelseadelorme.com/" target="_blank" data-label="Chelsea H. B. DeLorme")
									span.link Chelsea H. B. DeLorme
								|.

							//- p.bio-p
								|And thank you to the stellar design team at 
								a.p-mask-link.p-link-invert(href="https://mandelbrot.mx/" target="_blank" data-label="Mandelbrot Studio")
									span.link Mandelbrot Studio
								|  for their web design, commitment and drive.

							p.bio-p
								|Most of the work on this site was photographed by 
								a.p-mask-link.p-link-invert(href="https://andrewmccaul.com/" target="_blank" data-label="Andrew McCaul")
									span.link Andrew McCaul

								|, who kindly applied his attention to detail and his craft to each shot.

							p.bio-p
								|I’m also eternally grateful for guidance of my trusted editors, savants of written word, and friends, 
								a.p-mask-link.p-link-invert(href="https://www.linkedin.com/in/marisa-polansky-1a727414/" target="_blank" data-label="Marisa Polansky")
									span.link Marisa Polansky

								|  and 
								a.p-mask-link.p-link-invert(href="http://www.chelseadelorme.com/" target="_blank" data-label="Chelsea H. B. DeLorme")
									span.link Chelsea H. B. DeLorme
								|.
							
							p.bio-p 
								|And thank you to the stellar team at 
								a.p-mask-link.p-link-invert(href="https://mandelbrot.mx/" target="_blank" data-label="Mandelbrot Studio")
									span.link Mandelbrot Studio

								|  for their masterful web design, commitment and drive.

				
				include _modules/footer.jade


