extends templates/layout.jade

include _modules/socialmedia-list.jade

block content
	include _modules/nav-menu.jade

	//- .test
	#bio-wrapper.page-wrapper.has-menu
		.inner-wrapper
			h6.page-name.top Biography

			.content-grid
				.page-title
					h1.title Art Director/ 
					h2.title Graphic Designer