extends templates/layout.jade

include _modules/socialmedia-list.jade
include _modules/svg/arrow.jade

block title
	title Bio – Suze LaGasa | Art Director & Graphic Designer

block content
	include _modules/nav-menu.jade
	+nav-menu("bio")

	#bio-wrapper.page-wrapper.has-menu
		.inner-wrapper
			//- .test
			//- .tester-cntnr
				.grid-tester
					.row
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols

			.content-grid
				.page-name.top
					.cascade-mask
						h6.page-name.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Biography

				.page-title
					h1.title.cascade-mask
						span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="1" data-cascade-delay-mobile="1") Art Director/ 
					h2.title.cascade-mask
						span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="3" data-cascade-delay-mobile="3") Graphic Designer

				.overview-container
					.overview
						h3.section-name.cascade-mask
							span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="4" data-cascade-delay-mobile="4") Overview

						.bio-wrap.mbrt-cascade.firstload(data-cascade="stretch-up" data-cascade-delay="5" data-cascade-delay-mobile="5")
							p.bio-p Suzanne is a Brooklyn-based designer interested in the ways graphic design can provide clarity, spark curiosity and generate wonder. She’s passionate about color, photography, illustration and language. She’s committed to the practice of structuring stories and even the most basic information in a thoughtful aesthetic, with an eye for beauty.

							p.bio-p
								|She was influenced by the vibrancy and free spirit of her childhood home in Brazil, with its tropical palette and commitment to pleasure and joy. From her time spent dodging snakes in the Amazon and jumping waves in the Atlantic, she developed a strong connection to nature. She caught a love for architecture and history from her time spent in school in London. And in San Francisco, she studied design at the 
								a.p-mask-link.p-link-invert(href="https://www.cca.edu/" target="_blank" data-label="California College of the Arts")
									span.link California College of the Arts
								|, where she learned to shape ideas and speak the language of intentionality.
					
					figure.photo
						img.mbrt-cascade.firstload-desk(data-cascade="stretch-up" data-cascade-delay="5" data-cascade-delay-mobile="0" src="img/suze_lagasa.jpg", alt="Hi! I'm Suzanne")

					.hi-wrap.col-mob-12.col-5
						h4.hi.cascade-mask
							span.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Hi!

						h4.hi.cursive.cascade-mask
							span.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="1" data-cascade-delay-mobile="1") Olá!

						h4.hi.cascade-mask
							span.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="2" data-cascade-delay-mobile="2") Allô!



				.other-projects-container
					h3.section-name.cascade-mask
						span.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Other Projects

					.cols-wrapper
						ul#op-shifter-1.col-mob-12.push-mob-0.col-5.push-1
							li.projects-canvas
								.imgs-wrap
									img(src="img/other_projects/B1.jpg", alt="The Dust Bowl book cover")
									img(src="img/other_projects/B2.jpg", alt="X: The Erotic Treasury book cover")
									img(src="img/other_projects/B3.jpg", alt="Bitten: Dark Erotic Stories book cover")
									img(src="img/other_projects/B4.jpg", alt="A Shade of Red book cover")
									img(src="img/other_projects/B5.jpg", alt="Get High Now book cover")
									img(src="img/other_projects/B6.jpg", alt="A Girl Named Misty book cover")
									img(src="img/other_projects/B7.jpg", alt="A Girl Named Hillary book cover")
									img(src="img/other_projects/B8.jpg", alt="The Outdoor Toddler Activity Book cover")
									img(src="img/other_projects/B9.jpg", alt="Rainy Day Toddler Activity Book cover")


							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="0")
								a(href="https://www.amazon.com/dp/1452107947/" target="_blank")
									+arrow-link
									h5.bio-p The Dust Bowl: An Illustrated History

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="1")
								a(href="https://www.amazon.com/dp/0811864022/" target="_blank")
									+arrow-link
									h5.bio-p X: The Erotic Treasury

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="2")
								a(href="#amazon" target="_blank")
									+arrow-link
									h5.bio-p Bitten: Dark Erotic Stories

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="3")
								a(href="https://www.chroniclebooks.com/titles/a-shade-of-red.html" target="_blank")
									+arrow-link
									h5.bio-p A Shade of Red: One Lipstick & One Hundred Women

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="4")
								a(href="https://www.chroniclebooks.com/titles/get-high-now.html" target="_blank")
									+arrow-link
									h5.bio-p Get High Now

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="5")
								a(href="#amazon" target="_blank")
									+arrow-link
									h5.bio-p A Girl Named Misty

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="6")
								a(href="#amazon" target="_blank")
									+arrow-link
									h5.bio-p A Girl Named Hillary

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="7")
								a(href="https://www.amazon.com/dp/1641523514" target="_blank")
									+arrow-link
									h5.bio-p The Outdoor Toddler Activity Book

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="8")
								a(href="#amazon" target="_blank")
									+arrow-link
									h5.bio-p Rainy Day Toddler Activity Book

						a(href="#")#toggle-extra-projects.expand-projects 
							span.copy.expand Expand List
							span.copy.compress Compress List

						ul#op-shifter-2.col-mob-12.col-5.hidden-projects-mob
							li.projects-canvas
								.imgs-wrap
									img(src="img/other_projects/B10.jpg", alt="Haikubes Game photography")
									img(src="img/other_projects/B11.jpg", alt="Bike Snob Abroad book cover")
									img(src="img/other_projects/B13.jpg", alt="Rude Hand Gestures book cover")
									img(src="img/other_projects/B12.jpg", alt="Forever Paris book cover")
									img(src="img/other_projects/B14.jpg", alt="Boo: The dog book cover")
									img(src="img/other_projects/B15_2.jpg", alt="The Depression Workbook for Teens cover")
									img(src="img/other_projects/B16_2.jpg", alt="Conquer Anxiety Workbook for Teens cover")
									img(src="img/other_projects/B17_2.jpg", alt="Inspiration for Christian Teen Girls book cover")
									img(src="img/other_projects/B18.jpg", alt="Grateful Together: A gratitude journal for kids and their parents")


							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="0")
								a(href="https://www.chroniclebooks.com/titles/haikubes.html" target="_blank")
									+arrow-link
									h5.bio-p Haikubes

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="1")
								a(href="#amazon" target="_blank")
									+arrow-link
									h5.bio-p Bike Snob Abroad

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="2")
								a(href="https://www.chroniclebooks.com/titles/rude-hand-gestures-of-the-world.html" target="_blank")
									+arrow-link
									h5.bio-p Rude Hand Gestures

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="3")
								a(href="https://www.chroniclebooks.com/titles/forever-paris.html" target="_blank")
									+arrow-link
									h5.bio-p Forever Paris: 25 Walks in the Foosteps of Chanel, Hemingway, Picasso & more

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="4")
								a(href="https://www.chroniclebooks.com/titles/boo.html" target="_blank")
									+arrow-link
									h5.bio-p Boo: The Life of the World’s Cutest Dog

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="5")
								a(href="https://www.amazon.com/dp/1641525770/ref=cm_sw_r_tw_dp_U_x_tc5ADbW2KA00E" target="_blank")
									+arrow-link
									h5.bio-p The Depression Workbook for Teens

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="6")
								a(href="https://www.amazon.com/dp/1641524014/ref=cm_sw_r_tw_dp_U_x_ki5ADbK7PSQ2N" target="_blank")
									+arrow-link
									h5.bio-p Conquer Anxiety Workbook for Teens

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="7")
								a(href="#amazon" target="_blank")
									+arrow-link
									h5.bio-p Inspiration for Christian Teen Girls

							li.title.proj-row.mbrt-cascade(data-cascade="slide-up-long" data-cascade-delay="0" data-cascade-delay-mobile="0" data-id="8")
								a(href="https://www.amazon.com/dp/1641529776" target="_blank")
									+arrow-link
									h5.bio-p Grateful Together

				
				.dedication-container
					.col-mob-12.push-mob-0.col-5.push-1
						h3.section-name.cascade-mask
							span.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Dedication

						.dedicated-to
							h4.cascade-mask
								span.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="1" data-cascade-delay-mobile="1") For Antonie

							h4.cursive.cascade-mask
								span.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="2" data-cascade-delay-mobile="2") de Saint-Exupéry


						p.bio-p.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="3" data-cascade-delay-mobile="3")
							span.italic The Little Prince 
							|is the first book that I remember reading on my own. It astonished my seven-year-old self, giving me a lifelong love of reading. It also showed me that cultivating imagination, noticing beauty, and tending to love are just as vital to our survival.


					.photo.col-mob-12.col-4.offset-0.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="0" data-cascade-delay-mobile="0")
						img(src="img/suzanne_pintinho.jpg", alt="Suze when she was 7 years old")
						._caption Holding a baby chick in Brasilia.


				.afterword-container
					.intro.col-5.offset-6.col-mob-12.offset-mob-0
						h3.section-name.cascade-mask
							span.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Afterword

						.afterword-wrap
							p.bio-p.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="0" data-cascade-delay-mobile="0")
								|The work displayed in this portfolio was selected to show a range of design sensibilities. For more recent work, please go to 
								a.p-mask-link.p-link-invert(href="https://www.behance.net/lagasa" target="_blank" data-label="Behance")
									span.link Behance

								|.  Suzanne is currently designing non-fiction books aimed at fulfilling needs in people’s lives, such as art activity books for kids, workbooks for teenagers to aid with depression, and meditation guides to help people deepen their spirituality.


					.photo.col-mob-12.offset-mob-0.col-5.offset-1
						.desktop-mask
							.inner
								img.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="0" data-cascade-delay-mobile="0" src="img/afterword_2_opt.jpg", alt="Suze's photo journal")


					.quote.col-mob-7.offset-mob-5.col-4.offset-0
						h4.right.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="0" data-cascade-delay-mobile="0")
							|“Let the beauty 
							br
							|we 
							span.cursive love 
							|be 
							br
							|what we do

						h4.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="0" data-cascade-delay-mobile="1")
							|There are 
							br
							span.cursive hundreds 
							|of ways
							br
							|to kneel 
							span.cursive & 
							|kiss 
							br
							|the ground.”

						.author.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="2")
							span.line
							h5 Rumi


				.acknowledgements-container
					.col-mob-12.offset-mob-0.col-5.offset-6
						h3.section-name.cascade-mask
							span.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Acknowledgements
						
						.acknowledgements-wrap
							p.bio-p.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="0" data-cascade-delay-mobile="0")
								|Most of the work on this site was photographed by 
								a.p-mask-link.p-link-invert(href="https://andrewmccaul.com/" target="_blank" data-label="Andrew McCaul")
									span.link Andrew McCaul

								|, who kindly applied his attention to detail and his craft to each shot.

							p.bio-p.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="1" data-cascade-delay-mobile="0")
								|I’m also eternally grateful for guidance of my trusted editors, savants of written word, and friends, 
								a.p-mask-link.p-link-invert(href="https://www.linkedin.com/in/marisa-polansky-1a727414/" target="_blank" data-label="Marisa Polansky")
									span.link Marisa Polansky

								|  and 
								a.p-mask-link.p-link-invert(href="http://www.chelseadelorme.com/" target="_blank" data-label="Chelsea H. B. DeLorme")
									span.link Chelsea H. B. DeLorme
								|.


				
				include _modules/footer.jade


