extends templates/layout.jade

include _modules/_mixins-cases.jade

block title
	title Brooklyn Spaces | Suze LaGasa

block content
	include _modules/nav-menu.jade
	+nav-menu("work")

	#bs-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			//- .test
			//- .tester-cntnr
				.grid-tester
					.row
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols

			.content-grid
				//- include _modules/filters.jade
				h6.page-name.top.back
					a(href="index.html" title="Return to projects") Back

				.case-wrap
					+case_title("Brooklyn Spaces")
					+case_cover("bks/BKS01.jpg", "Brooklyn Spaces cover")


					._info
						+case_info("Designer", "The Monacelli Press", "https://www.monacellipress.com/", "May 2015")
						

						+case_description("As a guidebook for alternative and counter-culture creative spaces in Brooklyn, I took inspiration from industrial hand-lettering found on old warehouses. I set the many photographs in organic, loose compositions to convey the unstructured, free-wheeling nature of so many of the venues.", "https://www.amazon.com/dp/1580934285/")


					._inspiration
						.bks.images-container.col-mob-6.col-12
							h5.subtitle.col-6.offset-mob-0.offset-1 Inspiration

							.single-img.insp1.col-mob-10.col-4.p-a-b.mb-15-mob
								.iv-stretch
									img(src="img/proj/bks/02_insp_1.jpg", alt="")

							.single-img.col-mob-10.offset-mob-0.col-5.offset-1
								.iv-stretch
									img(src="img/proj/bks/02_insp_2.jpg", alt="")


						.bks.images-container.col-mob-6.offset-mob-0.col-3.offset-1
							.single-img.mb-80
								.iv-stretch
									img(src="img/proj/bks/02_insp_4.jpg", alt="")

							.single-img.mb-15-mob
								.iv-stretch
									img(src="img/proj/bks/02_insp_5.jpg", alt="")


						.bks.images-container.col-mob-12.offset-mob-0.col-6.offset-1
							.single-img.mb-80.col-10
								.iv-stretch
									img(src="img/proj/bks/02_insp_3.jpg", alt="")


							.col-12
								.single-img.fortyfour-4
									.iv-stretch
										img(src="img/proj/bks/02_insp_6.jpg", alt="")

								.single-img.p-r-0.fortyseven
									.iv-stretch
										img(src="img/proj/bks/02_insp_7.jpg", alt="")



					._project-details
						+case_detailview("bks/BKS02.jpg", "Brooklyn Spaces book details", "middle")

						+case_detailview("bks/BKS03.jpg", "Brooklyn Spaces book details", "middle")
						+case_detailview("bks/BKS04.jpg", "Brooklyn Spaces book details", "")

						+case_credits(
							{role: 'Author', url: 'http://www.oriana-leckert.com/', name: 'Oriana Leckert'},
							{role: 'Photography', url: 'https://www.walterwlodarczyk.com/', name: 'Walter Wlodarczyk'},
							{role: '', url: 'http://www.blase.photography/', name: 'Michael Blase'},
							{role: '', url: 'https://www.flickr.com/photos/provide/', name: 'Kit Crenshaw'},
							{role: '', url: 'https://www.alixpiorun.com/', name: 'Alix Piorun'},
							{role: '', url: 'http://brooklyn-spaces.com/about/', name: 'and more...'}
						)
									

						+case_detailview("bks/BKS05.jpg", "Brooklyn Spaces book details", "")

					+case_moreinfo(
						"Designer",
						"The Monacelli Press",
						"https://www.monacellipress.com/",
						"May 2015",
						"As a guidebook for alternative and counter-culture creative spaces in Brooklyn, I took inspiration from industrial hand-lettering found on old warehouses. I set the many photographs in organic, loose compositions to convey the unstructured, free-wheeling nature of so many of the venues.",
						"https://www.amazon.com/dp/1580934285/",
						{
							role: 'Author',
							url: 'http://www.oriana-leckert.com/',
							name: 'Oriana Leckert'
						},
						{
							role: 'Photography',
							url: 'https://www.walterwlodarczyk.com/',
							name: 'Walter Wlodarczyk'
						},
						{
							role: '',
							url: 'http://www.blase.photography/',
							name: 'Michael Blase'
						},
						{
							role: '',
							url: 'https://www.flickr.com/photos/provide/',
							name: 'Kit Crenshaw'
						},
						{
							role: '',
							url: 'https://www.alixpiorun.com/',
							name: 'Alix Piorun'
						},
						{
							role: '',
							url: 'http://brooklyn-spaces.com/about/',
							name: 'and more...'
						}
					)


				+case_nextproject('Getting to Good', 'getting-to-good.html')

	//- +case_preloader("Brooklyn Spaces")
	#case-preloader.case-preloader
		.content-grid
			.inner-wrap 
				h2#nextTitle.goTo.hide
					span.transition B
					span.transition r
					span.transition o
					span.transition o
					span.transition k
					span.transition l
					span.transition y
					span.transition n
					span.transition.title-space 
					span.transition.bs-S S
					span.transition p
					span.transition a
					span.transition c
					span.transition e
					span.transition s










