extends templates/layout.jade

include _modules/socialmedia-list.jade

block content
	include _modules/nav-menu.jade

	#contact-wrapper.page-wrapper.has-menu
		.inner-wrapper
			h6.page-name.top Contact

			.responsive-container
				.inner-wrapper
					.img-wrapper

					.content-wrapper
						.contact-info
							+socialmedia-list('on-white')

						.form