extends templates/layout.jade

include _modules/socialmedia-list.jade

block content
	include _modules/nav-menu.jade

	#contact-wrapper.page-wrapper.has-menu
		.inner-wrapper
			h6.page-name.top Contact

			.responsive-container
				.inner-wrapper
					.img-wrapper

					.content-wrapper
						.contact-info
							+socialmedia-list('on-white')

							p.address
								|67 West Street 603
								br
								|Brooklyn, NY 11222
								br
								|United States

						.postcard
							.salute-container
								h1 
									|Say 
									span.cursive Hi!

								h2 I’d like to hear from you.

							.form-container