extends templates/layout.jade

include _modules/socialmedia-list.jade
include _modules/_mixins-inputs.jade

block title
	title Say hi! | Suze LaGasa

block content
	include _modules/nav-menu.jade

	#contact-wrapper.page-wrapper.has-menu
		//- .test
		.inner-wrapper
			.responsive-container
				h6.page-name.top Contact

				.inner-wrapper
					.img-wrapper

					.content-wrapper
						.contact-info
							ul(class="socialmedia-list on-white")
								li
									a(href="https://www.linkedin.com/in/lagasa/" target="_blank" title="Suze Linkedin").mask-container
										span.icon
										span.label.up-in Linkedin
								li
									a(href="https://www.instagram.com/lagasa/" target="_blank" title="Suze Instagram").mask-container
										span.icon
										span.label.up-in Instagram
								li
									a(href="https://www.behance.net/lagasa" target="_blank" title="Suze Behance").mask-container
										span.icon
										span.label.up-in Behance

							p.address
								|67 West Street 603
								br
								|Brooklyn, NY 11222
								br
								|United States

						.postcard
							.salute-container
								h1.salute
									|Say 
									span.cursive Hi!
								
								.intro-wrap
									.line-box
										.line

									h2.copy-box 
										span.cursive I’d like to 
										|hear from you.

							form(action="#").form-container
								+regular-input('name-input', 'text', 'Your name')
								+regular-input('email-input', 'email', 'Your email')
								+regular-textarea('message-textarea', 'Starting a new project, looking for a quote, or just saying hi?')

								button(type="submit").sz-submit-btn Send