extends templates/layout.jade

include _modules/socialmedia-list.jade
include _modules/_mixins-inputs.jade

block title
	title Say hi! | Suze LaGasa

block content
	include _modules/nav-menu.jade
	+nav-menu("contact")

	#contact-wrapper.page-wrapper.has-menu
		//- .test
		//- .tester-cntnr
			.grid-tester
				.row
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols

		.inner-wrapper
			.responsive-container
				h6.page-name.top
					.cascade-mask
						span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Contact

				.inner-wrapper
					.img-wrapper.mbrt-cascade.firstload(data-cascade="stretch-up" data-cascade-delay="7" data-cascade-delay-mobile="10")

					.content-wrapper
						.contact-info
							ul(class="socialmedia-list on-white")
								li
									a(href="https://www.linkedin.com/in/lagasa/" target="_blank" title="Suze Linkedin").cascade-mask
										span.icon
										span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="3" data-cascade-delay-mobile="3") Linkedin
								li
									a(href="https://www.instagram.com/lagasa/" target="_blank" title="Suze Instagram").cascade-mask
										span.icon
										span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="4" data-cascade-delay-mobile="4") Instagram
								li
									a(href="https://www.behance.net/lagasa" target="_blank" title="Suze Behance").cascade-mask
										span.icon
										span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="5" data-cascade-delay-mobile="5") Behance

							address.address
								.cascade-mask
									span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="3" data-cascade-delay-mobile="3") 67 West Street, 601
								.cascade-mask
									span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="4" data-cascade-delay-mobile="4") Brooklyn, NY 11222
								.cascade-mask
									span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="5" data-cascade-delay-mobile="5") United States

						.postcard
							.salute-container
								h1.salute
									.cascade-mask.padded-r
										span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="1" data-cascade-delay-mobile="1")
											|Say 
											span.cursive Hi!
								
								.intro-wrap
									//- .line-box
										.line

									h2.copy-box
										.cascade-mask
											span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="2" data-cascade-delay-mobile="2")
												span.cursive I’d like to 
												|hear from you.

							form#contact-form.form-container(name="contact-form" action="mail.php" method="POST" enctype="multipart/form-data")
								.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="3" data-cascade-delay-mobile="3")
									+regular-input('name-input', 'text', 'Your name')
								.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="4" data-cascade-delay-mobile="4")
									+regular-input('email-input', 'email', 'Your email')
								.mbrt-cascade.firstload(data-cascade="slide-up" data-cascade-delay="5" data-cascade-delay-mobile="5")
									+regular-textarea('message-textarea', 'Starting a new project, looking for a quote, or just saying hi?')

								.mbrt-cascade.firstload(data-cascade="slide-up" data-cascade-delay="6" data-cascade-delay-mobile="6")
									button(type="submit").sz-submit-btn Send


