extends templates/layout.jade

include _modules/socialmedia-list.jade
include _modules/_mixins-inputs.jade

block content
	include _modules/nav-menu.jade

	#contact-wrapper.page-wrapper.has-menu
		.inner-wrapper
			h6.page-name.top Contact

			.responsive-container
				.inner-wrapper
					.img-wrapper

					.content-wrapper
						.contact-info
							+socialmedia-list('on-white')

							p.address
								|67 West Street 603
								br
								|Brooklyn, NY 11222
								br
								|United States

						.postcard
							.salute-container
								h1 
									|Say 
									span.cursive Hi!
								
								.intro-wrap
									.line-box
										.line

									h2.copy-box I’d like to hear from you.

							form(action="#").form-container
								+regular-input('name-input', 'text', 'Your name')
								+regular-input('email-input', 'email', 'Your email')
								+regular-textarea('message-textarea', 'Starting a new project, looking for a quote, or just saying hi?')

								button(type="submit").sz-submit-btn Send