extends templates/layout.jade

include _modules/_mixins-cases.jade

block title
	title Farrah Sit | Suzanne LaGasa

block content
	include _modules/nav-menu.jade
	+nav-menu("work")
	
	#fs-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			.content-grid
				.page-name.top.back.change-page
					a(href="index.html" title="Return to projects").cascade-mask
						.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Back

				.case-wrap
					+case_title("Farrah Sit")
					+case_cover("fs/FS01.jpg", "Farrah Sit cover")


					._info
						+case_info("Art Director", "Founder Farrah Sit", "https://farrahsit.com", "2016")
						

						+case_description("Farrah Sit is an independent designer who creates sculptural lighting, furniture, and home objects. My hope was to create a logo reflective of her attention to detail and refined sensibility. There’s a delicate grace in all her inventive and structural designs.", "https://farrahsit.com/", "Visit the site")

					._inspiration
						h5.subtitle.col-10.offset-mob-0.offset-1.cascade-mask
							span.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Inspiration
							
						.images-container.col-12.space-below
							figure.single-img
								+case_detailview("fs/FS02.jpg", "Farrah Sit book details", "middle", "firstload-mobile")

						h5.subtitle.col-10.offset-mob-0.offset-1.cascade-mask
							span.mbrt-cascade(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Type Exploration
							
						.images-container.col-12
							figure.single-img
								+case_detailview("fs/FS03.jpg", "Farrah Sit book details", "middle")


					._project-details
						+case_detailview("fs/FS04.jpg", "Farrah Sit book details", "middle")
						+case_detailview("fs/FS05.jpg", "Farrah Sit book details", "middle")

						+case_detailview("fs/FS06.jpg", "Farrah Sit book details", "")

					+case_moreinfo_branding(
						"Art Director",
						"Founder Farrah Sit",
						"https://www.instagram.com/farrahsit/",
						"2016",
						"Farrah Sit is an independent designer who creates sculptural lighting, furniture, and home objects. My hope was to create a logo reflective of her attention to detail and refined sensibility. There’s a delicate grace in all her inventive and structural designs.",
						"https://farrahsit.com/"
					)


				+case_nextproject('Movetes', 'movetes.html')


	//- +case_preloader("Farrah Sit")
	#case-preloader.case-preloader
		.content-grid
			.inner-wrap 
				h2#nextTitle.goTo.hide
					span.transition.fs-F F
					span.transition.left-1 a
					span.transition r
					span.transition r
					span.transition a
					span.transition h
					span.transition.title-space 
					span.transition.fs-S S
					span.transition i
					span.transition t













