extends templates/layout.jade

block content
	//- .test
	#intro-wrapper
		.cols-wrapper
			.col.left
				.inner-wrapper
					h2.descriptor 
						span.mask-container
							span.up-in Art Director/ 
						
						span.cursive 
							span.mask-container
								span.up-in Graphic Designer

					article.introduction
						p.intro-bio 
							span.mask-container
								//- span.up-in Her creative practice is driven by a love of color, typography, storytelling and a full conviction on the power of aesthetics to create a more beautiful — and meaningful — world.
								span.up-in For the want of a gentler, kinder, more beautiful and meaningful world, Suzanne focuses on book design, a love of color, collaborations with illustrators and photographers, and the many layered and enchanting possibilities of storytelling.

						//- p.intro-bio 
							span.mask-container
								span.up-in Clarity, delight, wonder and resonance are part of her, as an incarnated endless — quest.

					.mob-enter-btn 
						a(href="index.html").change-page
							span.mask-container
								span.up-in
									|Enter
									br
									| site

			.col.right
				.inner-wrapper
					h1.title 
						div
							span.mask-container
								span.up-in Suze
						div
							span.mask-container
								span.up-in LaGasa
					h6.page-name
						span.mask-container
							span.up-in Foreword