extends templates/layout.jade

block content
	//- .test
	#intro-wrapper
		.cols-wrapper
			.col.left
				.inner-wrapper
					h2.descriptor 
						.cascade-mask.cascade-aladdin Art Director/ 
						
						span.cursive 
							.cascade-mask.cascade-aladdin Graphic Designer

					article.introduction
						p.intro-bio 
							//- span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Her creative practice is driven by a love of color, typography, storytelling and a full conviction on the power of aesthetics to create a more beautiful — and meaningful — world.
							span.mbrt-cascade.firstload(data-cascade="stretch-up" data-cascade-delay="14" data-cascade-delay-mobile="14") For the want of a gentler, kinder, more beautiful and meaningful world, Suzanne focuses on book design, a love of color, collaborations with illustrators and photographers, and the many layered and enchanting possibilities of storytelling.

						//- p.intro-bio 
							.cascade-mask
								span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Clarity, delight, wonder and resonance are part of her, as an incarnated endless — quest.

					.mob-enter-btn 
						a(href="index.html").change-page
							.cascade-mask
								span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="8" data-cascade-delay-mobile="15")
									|Enter
									br
									| site

			.col.right
				.inner-wrapper
					h1.title 
						div
							.mask-container
								span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="1") Suze
						div
							.mask-container
								span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="1" data-cascade-delay-mobile="2") LaGasa
					h6.page-name
						.cascade-mask
							span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="18" data-cascade-delay-mobile="0") Foreword