extends templates/layout.jade

block title
	title Foreword – Suzanne LaGasa | Art Director & Graphic Designer

block og_meta
	meta(property="og:title" 		content="Suzanne LaGasa — Foreword | Art Director & Graphic Designer")
	meta(property="og:description" 	content="Searching for a kinder, gentler, more beautiful world. Contributing to that vision through book design, creative collaborations, a love of color, and the many enchanting possibilities of storytelling.")
	meta(property="og:url" 			content="https://lagasa.com/foreword.html")

block content
	//- .test
	#intro-wrapper
		.cols-wrapper
			.col.left
				article.inner-wrapper
					.profile-wrap
						h2.descriptor.cascade-mask.cascade-aladdin Art Director/ 
						h2.descriptor.cursive.cascade-mask.cascade-aladdin Graphic Designer

					.introduction
						p.intro-bio 
							span.mbrt-cascade.firstload(data-cascade="stretch-up" data-cascade-delay="10" data-cascade-delay-mobile="10") Searching for a kinder, gentler, more beautiful world. Contributing to that vision through book design, creative collaborations, a love of color, and the many enchanting possibilities of storytelling.


					.mob-enter-btn 
						a(href="index.html").change-page
							.cascade-mask
								span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="8" data-cascade-delay-mobile="15")
									|Enter
									br
									| site

			.col.right
				.inner-wrapper
					.title-wrap
						.mask-container
							h1.title.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="1") Suze
						.mask-container
							h1.title.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="1" data-cascade-delay-mobile="2") LaGasa

					.page-name-wrap
						.cascade-mask
							h6.page-name.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="14" data-cascade-delay-mobile="0") Foreword