extends templates/layout.jade

block content
	//- .test
	#intro-wrapper
		.cols-wrapper
			.col.left
				.inner-wrapper
					h2.descriptor 
						.cascade-mask.cascade-aladdin Art Director/ 
						
						span.cursive 
							.cascade-mask.cascade-aladdin Graphic Designer

					article.introduction
						p.intro-bio 
							span.mbrt-cascade.firstload(data-cascade="stretch-up" data-cascade-delay="10" data-cascade-delay-mobile="10") Searching for a kinder, gentler, more beautiful world. Contributing to that vision through book design, creative collaborations, a love of color, and the many enchanting possibilities of storytelling.


					.mob-enter-btn 
						a(href="index.html").change-page
							.cascade-mask
								span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="8" data-cascade-delay-mobile="15")
									|Enter
									br
									| site

			.col.right
				.inner-wrapper
					h1.title 
						div
							.mask-container
								span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="1") Suze
						div
							.mask-container
								span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="1" data-cascade-delay-mobile="2") LaGasa
					h6.page-name
						.cascade-mask
							span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="14" data-cascade-delay-mobile="0") Foreword