extends templates/layout.jade

include _modules/_mixins-cases.jade

block title
	title Getting to Good | Suze LaGasa

block content
	include _modules/nav-menu.jade
	+nav-menu("work")

	#gtg-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			.content-grid
				h6.page-name.top.back
					a(href="index.html" title="Return to projects") Back

				.case-wrap
					+case_title("Getting to Good")
					+case_cover("gtg/GTG01.jpg", "Getting to Good cover")


					._info
						+case_info("Designer & Art Director", "Callisto Media", "https://www.callistomedia.com/", "Feb 2019")
						

						+case_description("This journal needed to communicate positivity and hope without skewing too feminine or saccharine. I worked with Booklyn-based illustrated Kath Nash to create a giftable and useful journal to help people suffering from depression.", "https://www.amazon.com/Getting-Good-Elena-Welsh-PhD/dp/1641523662/")


					._project-details
						+case_detailview("gtg/GTG02.jpg", "Getting to Good book details", "middle")

						+case_detailview("gtg/GTG03.jpg", "Getting to Good book details", "middle")
						+case_detailview("gtg/GTG04.jpg", "Getting to Good book details", "middle")
						+case_detailview("gtg/GTG05.jpg", "Getting to Good book details", "middle")
						+case_detailview("gtg/GTG06.jpg", "Getting to Good book details", "middle")
						+case_detailview("gtg/GTG07.jpg", "Getting to Good book details", "")

						+case_credits(
							{role: 'Author', url: 'https://www.drelenawelsh.com/', name: 'Elena Welsh'},
							{role: 'Illustration', url: 'https://kath-nash.com/', name: 'Kath Nash'}
						)
									

						+case_detailview("gtg/GTG08.jpg", "Getting to Good book details", "")

					+case_moreinfo(
						"Designer & Art Director",
						"Althea Press",
						"http://www.althea-publishers.com/",
						"Feb 2019",
						"This journal needed to communicate positivity and hope without skewing too feminine or saccharine. I worked with Booklyn-based illustrated Kath Nash to create a giftable and useful journal to help people suffering from depression.",
						"https://www.amazon.com/Getting-Good-Elena-Welsh-PhD/dp/1641523662/",
						{
							role: 'Author',
							url: 'https://www.drelenawelsh.com/',
							name: 'Elena Welsh'
						},
						{
							role: 'Illustration',
							url: 'https://kath-nash.com/',
							name: 'Kath Nash'
						}
					)


				+case_nextproject('Mean Girls', 'mean-girls.html')

	//- +case_preloader("Mean Girls")

	//- +case_preloader("Getting to Good")
	#case-preloader.case-preloader
		.content-grid
			.inner-wrap 
				h2#nextTitle.goTo.hide
					span.transition G
					span.transition e
					span.transition t
					span.transition t
					span.transition i
					span.transition n
					span.transition g
					span.transition.title-space 
					span.transition.left1-768.left2-desk t
					span.transition o
					span.transition.title-space 
					span.transition.left1-768 G
					span.transition o
					span.transition o
					span.transition d










