extends templates/layout.jade
include _modules/project-cover.jade

block content
	include _modules/nav-menu.jade
	+nav-menu("work")

	#home-wrapper.page-wrapper.has-menu
		.inner-wrapper
			//- .test
			#proj-preloader

			.content-grid
				h6.page-name.top
					.cascade-mask
						span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Work

				include _modules/filters.jade
				#filtered-projects.projects-wrapper
					+project-cover("col-6", "img/covers/01_lil.jpg", "Live in Light", "Callisto Media", "live-in-light.html", "book", -1, {imgDelay: 2, titleDelay: 2, clientDelay: 8, imgDelayMob: 5, titleDelayMob: 5, clientDelayMob: 10, imgFirstLoad: 'firstload', titleFirstLoad: 'firstload', clientFirstLoad: 'firstload'})

					+project-cover("col-5 offset-1", "img/covers/02_trb.jpg", "The Rooftop Beekeper", "Chronicle Books", "trb.html", "down--half align-top book", 0.5, {imgDelay: 3, titleDelay: 0, clientDelay: 2, imgDelayMob: 0, titleDelayMob: 0, clientDelayMob: 2, imgFirstLoad: 'firstload-desk', titleFirstLoad: '', clientFirstLoad: ''})

					.grid-title.order-3
						h1.written 
							.cascade-mask.padded-r
								span.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="2") Selected
						h1.typed 
							.cascade-mask
								span.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="1" data-cascade-delay-mobile="3") Work
						span.year-range 
							.cascade-mask
								span.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="3" data-cascade-delay-mobile="5") (15 - 19)
					
					+project-cover("col-8", "img/covers/03_wif.jpg", "Walk in Faith", "Callisto Media", "walk-in-faith.html", "pushdown--sm book", -0.2)

					+project-cover("col-6 offset-6", "img/covers/04_tbh.jpg", "TBH", "Scholastic Inc", "tbh.html", "pushdown--md book", 1)

					+project-cover("col-5", "img/covers/05_odt.jpg", "One Day's Tale", "Austin Lamp Press", "one-days-tale.html", "up--twothird align-top book", 1.5)

					+project-cover("col-5 offset-2", "img/covers/06_bs.jpg", "Brooklyn Spaces", "The Monacelli Press", "brooklyn-spaces.html", "book", 1)

					+project-cover("col-5", "img/covers/07_fs.jpg", "Farrah Sit", "Founder Farrah Sit", "farrah-sit.html", "up--half align-top smaller-col branding order-1", 0.1)

					+project-cover("col-8 offset-4", "img/covers/08_gtg.jpg", "Getting to Good", "Callisto Media", "getting-to-good.html", "allup--fifth pushdown--sm pushdown--gtg book gtg", -0.2)

					+project-cover("col-6", "img/covers/09_mg.jpg", "Mean Girls", "Scholastic Inc", "mean-girls.html", "align-top book mg", 1)

					+project-cover("col-5 offset-1", "img/covers/10_hr.jpg", "O Homem Razoável", "Create Space", "o-homem-razoavel.html", "down--third book last ohr", -0.5)

					+project-cover("col-5", "img/covers/11_st.jpg", "Speech Tank", "Founders M. Polansky & C. Keller", "speech-tank.html", "up--sixteenth align-top smaller-col branding order-3", 1)

					+project-cover("col-6 offset-1", "img/covers/12_mny.jpg", "Movetes", "Founder Maureen Caruthers", "movetes.html", "pushup--third align-top branding order-2", 1)



				include _modules/footer.jade