extends templates/layout.jade
include _modules/project-cover.jade

block keywords
	meta(name='keywords', content="Suzanne LaGasa, Suzanne, LaGasa, Suze, Suze LaGasa, portfolio, webfolio, official, website, official website, lagasa.com, work, selected work, design, designer, graphic design, art director, art direction, art, director, direction, book, books, book design, book designer, fiction, non-fiction, non fiction, nonfiction, children, childrens, publishing, cover, covers, book cover, book covers, book cover design, live in light, rooftop beekeeper, the rooftop beekeeper, walk in faith, tbh, one day's tale, brooklyn spaces, getting to good, mean girls, o homem razoável, o homem razoavel, farrah sit, movetes, speech tank, brand, branding, brand identity, brand designer, New York, Brooklyn, NYC, callisto media, chronicle books, scholastic, scholastic inc, austin lamp, austin lamp press, monacelli press, the monacelli press, monacelli, create space, polansky, keller, maureen carruthers, carruthers")

block content
	include _modules/nav-menu.jade
	+nav-menu("work")

	#home-wrapper.page-wrapper.has-menu
		.inner-wrapper
			//- .test
			#proj-preloader

			.content-grid
				.page-name.top
					.cascade-mask
						h6.page-name.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Work

				include _modules/filters.jade
				#filtered-projects.projects-wrapper
					+project-cover("col-6", "img/covers/01_lil.jpg", "Live in Light", "Callisto Media", "live-in-light.html", "book", -1, {imgDelay: 2, titleDelay: 2, clientDelay: 8, imgDelayMob: 5, titleDelayMob: 5, clientDelayMob: 10, imgFirstLoad: 'firstload', titleFirstLoad: 'firstload', clientFirstLoad: 'firstload'})

					+project-cover("col-5 offset-1", "img/covers/02_trb.jpg", "The Rooftop Beekeper", "Chronicle Books", "trb.html", "down--half align-top book", 0.5, {imgDelay: 3, titleDelay: 0, clientDelay: 2, imgDelayMob: 0, titleDelayMob: 0, clientDelayMob: 2, imgFirstLoad: 'firstload-desk', titleFirstLoad: '', clientFirstLoad: ''})

					.grid-title.order-3
						.cascade-mask.padded-r
							h1.written.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="2") Selected

						.sub-wrap
							.cascade-mask
								h1.typed.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="1" data-cascade-delay-mobile="3") Work

						.sub-wrap.period-wrap
							.cascade-mask
								h2.year-range.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="3" data-cascade-delay-mobile="5") (15 - 19)
					
					+project-cover("col-8", "img/covers/03_wif.jpg", "Walk in Faith", "Callisto Media", "walk-in-faith.html", "pushdown--sm book", -0.2)

					+project-cover("col-6 offset-6", "img/covers/04_tbh.jpg", "TBH", "Scholastic Inc", "tbh.html", "pushdown--md book", 1)

					+project-cover("col-5", "img/covers/05_odt.jpg", "One Day's Tale", "Austin Lamp Press", "one-days-tale.html", "up--twothird align-top book", 1.5)

					+project-cover("col-5 offset-2", "img/covers/06_bs.jpg", "Brooklyn Spaces", "The Monacelli Press", "brooklyn-spaces.html", "book", 1)

					+project-cover("col-5", "img/covers/07_fs.jpg", "Farrah Sit", "Founder Farrah Sit", "farrah-sit.html", "up--half align-top smaller-col branding order-1", 0.1)

					+project-cover("col-8 offset-4", "img/covers/08_gtg.jpg", "Getting to Good", "Callisto Media", "getting-to-good.html", "allup--fifth pushdown--sm pushdown--gtg book gtg", -0.2)

					+project-cover("col-6", "img/covers/09_mg.jpg", "Mean Girls", "Scholastic Inc", "mean-girls.html", "align-top book mg", 1)

					+project-cover("col-5 offset-1", "img/covers/10_hr.jpg", "O Homem Razoável", "Create Space", "o-homem-razoavel.html", "down--third book last ohr", -0.5)

					+project-cover("col-5", "img/covers/11_st.jpg", "Speech Tank", "Founders M. Polansky & C. Keller", "speech-tank.html", "up--sixteenth align-top smaller-col branding order-3", 1)

					+project-cover("col-6 offset-1", "img/covers/12_mny.jpg", "Movetes", "Founder Maureen Carruthers", "movetes.html", "pushup--third align-top branding order-2", 1)



				include _modules/footer.jade