extends templates/layout.jade

block content
	include _modules/nav-menu.jade
	include _modules/project-cover.jade

	#home-wrapper.page-wrapper.has-menu
		.inner-wrapper
			.content-grid
				h6.page-name.top Work

				include _modules/filters.jade
				.projects-wrapper
					+project-cover("col-6", "img/covers/01_lil.jpg", "Live in Light", "Chronicle Books", "#")

					+project-cover("col-5 offset-1", "img/covers/02_trb.jpg", "The Rooftop Beekeper", "Chronicle Books", "#", "second")

					.grid-title
						h1.written Selected
						h1.typed Work
						span.year-range ( 15 - 18 )

					+project-cover("col-8", "img/covers/03_wif.jpg", "Walk in Faith", "The Monacelli Press", "#")

					+project-cover("col-6 offset-6", "img/covers/04_tbh.jpg", "TBH", "Scholastic Inc", "#")

					+project-cover("col-5", "img/covers/05_odt.jpg", "One Days Tale", "Austin Lamp Press", "#")

					+project-cover("col-5 offset-2", "img/covers/06_bs.jpg", "Brooklyn Spaces", "Scholastic Inc", "#")

					+project-cover("col-5", "img/covers/07_fs.jpg", "Farrah Sit", "Founder Farrah Sit", "#")

					+project-cover("col-8 offset-4", "img/covers/08_gtg.jpg", "Getting to Good", "The Monacelli Press", "#")

					+project-cover("col-6", "img/covers/09_mg.jpg", "Mean Girls", "Scholastic Inc", "#")

					+project-cover("col-5 offset-1", "img/covers/10_hr.jpg", "O Homem Razoável", "Create Space", "#")

					+project-cover("col-5", "img/covers/11_st.jpg", "Speech Tank", "Founders Marisa Polansky and Christine Keller", "#")

					+project-cover("col-6 offset-1", "img/covers/12_mny.jpg", "Movetes", "Founder Maureen Caruthers", "#")



				include _modules/footer.jade