extends templates/layout.jade

block content
	include _modules/nav-menu.jade

	#home-wrapper.page-wrapper.has-menu
		.inner-wrapper
			.content-grid
				h6.page-name.top Work

				include _modules/filters.jade