extends templates/layout.jade

block content
	//- .test
	#intro-wrapper
		.cols-wrapper
			.col.left
				.inner-wrapper
					h2.descriptor 
						|Art Director/ 
						span.cursive Graphic Designer
					p.intro-bio Suzanne's creative practice is driven by a love of color, typography, storytelling and a commitment to the power of aesthetics to create a more beautiful and meaningful world.

			.col.right
				.inner-wrapper
					h1.title Suze LaGasa
					h6.page-name Foreword