extends templates/layout.jade

block content
	//- .test
	#intro-wrapper
		.cols-wrapper
			.col.left
				.inner-wrapper
					h2.descriptor 
						span.mask-container
							span.up-in Art Director/ 
						
						span.cursive 
							span.mask-container
								span.up-in Graphic Designer

					p.intro-bio 
						span.mask-container
							span.up-in Suzanne's creative practice is driven by a love of color, typography, storytelling and a commitment to the power of aesthetics to create a more beautiful and meaningful world.

			.col.right
				.inner-wrapper
					h1.title 
						div
							span.mask-container
								span.up-in Suze
						div
							span.mask-container
								span.up-in LaGasa
					h6.page-name
						span.mask-container
							span.up-in Foreword