extends templates/layout.jade

include _modules/_mixins-cases.jade

block title
	title Live in Light | Suze LaGasa

block content
	include _modules/nav-menu.jade
	+nav-menu("work")

	#lil-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			.content-grid
				//- .test
				.page-name.top.back.change-page
					a(href="index.html" title="Return to projects").cascade-mask
						.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Back

				.case-wrap
					+case_title("Live in Light")
					+case_cover("lil/LIL01.jpg", "Live in Light cover")


					._info
						+case_info("Designer & Art Director", "Callisto Media", "https://www.callistomedia.com/", "April 2019")
						

						+case_description("For small (5”X7”) devotional book I worked with Myriam Van Neste to develop a system of abstract and subtly feminine forms on the cover and interior. The goal was to speak to teen girls without being overly cute, juvenile and relying on traditional religious tropes. ", "https://www.amazon.com/Live-Light-5-Minute-Devotions-Girls/dp/1641523379/")

					._project-details
						+case_detailview("lil/LIL03.jpg", "Live in Light book details", "middle", "firstload-mobile")
						+case_detailview("lil/LIL04.jpg", "Live in Light book details", "middle")
						+case_detailview("lil/LIL05.jpg", "Live in Light book details", "")
						
						+case_credits(
							{role: 'Author', url: 'https://melanieredd.com/', name: 'Melanie M. Redd'},
							{role: 'Illustration', url: 'https://www.myriamvanneste.com/', name: 'Myriam Van Neste'}
						)

						+case_detailview("lil/LIL06.jpg", "Live in Light book details", "")

					+case_moreinfo(
						"Designer & Art Director",
						"Callisto Media",
						"https://www.callistomedia.com/",
						"April 2019",
						"For small (5”X7”) devotional book I worked with Myriam Van Neste to develop a system of abstract and subtly feminine forms on the cover and interior. The goal was to speak to teen girls without being overly cute, juvenile and relying on traditional religious tropes.",
						"https://www.amazon.com/Live-Light-5-Minute-Devotions-Girls/dp/1641523379/",
						{
							role: 'Author',
							url: 'https://melanieredd.com/',
							name: 'Melanie M. Redd'
						},
						{
							role: 'Illustration',
							url: 'https://www.myriamvanneste.com/',
							name: 'Myriam Van Neste'
						}
					)


				+case_nextproject('Rooftop Beekeeper', 'trb.html')
	
	//- +case_preloader('The Rooftop Beekeeper')

	//- +case_preloader('Live in Light')
	#case-preloader.case-preloader
		.content-grid
			.inner-wrap 
				h2#nextTitle.goTo.hide
					span.transition L
					span.transition i
					span.transition v
					span.transition.lil-e e
					span.transition.title-space 
					span.transition i
					span.transition n
					span.transition.title-space 
					span.transition.lil-L L
					span.transition i
					span.transition g
					span.transition h
					span.transition t







