extends templates/layout.jade

include _modules/_mixins-cases.jade

block title
	title Mean Girls – Suzanne LaGasa | Art Director & Graphic Designer

block description
	meta(name='description', content="This type-driven cover needed a strong nod to the original film, but also a distinctive approach to indicate that it’s a new release -the first novelization of the 2004 film written by Tina Fey and Rosalind Wiseman. I choose to play with the logotype of the movie, but using color as the driving factor. The characters are silhouetted to position them at an iconic level.")

block og_meta
	meta(property="og:title" 		content="Mean Girls — designed by Suzanne LaGasa | Art Director & Graphic Designer")
	meta(property="og:description" 	content="This type-driven cover needed a strong nod to the original film, but also a distinctive approach to indicate that it’s a new release -the first novelization of the 2004 film written by Tina Fey and Rosalind Wiseman. I choose to play with the logotype of the movie, but using color as the driving factor. The characters are silhouetted to position them at an iconic level.")
	meta(property="og:url" 			content="https://www.lagasa.com/mean-girls.html")

block keywords
	meta(name='keywords', content="Suzanne LaGasa, Suzanne, LaGasa, Suze, Suze LaGasa, portfolio, webfolio, official, website, official website, lagasa.com, work, mean girls, mean, novel, screenplay, girls, design, designer, graphic design, art director, art direction, art, director, direction, book, books, book design, book designer, scholastic, scholastic inc, micol ostow, micol, ostow, tina fey, tina, fey, rosalind wiseman, rosalind, wiseman, fiction, non-fiction, non fiction, nonfiction, children, childrens, publishing, cover, covers, book cover, book covers, book cover design, creative collaborations, storytelling")

block content
	include _modules/nav-menu.jade
	+nav-menu("work")

	#mg-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			.content-grid
				.page-name.top.back.change-page
					a(href="index.html" title="Return to projects").cascade-mask
						.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Back

				.case-wrap
					+case_title("Mean Girls")
					+case_cover("mg/MG01.jpg", "Mean Girls cover")


					._info
						+case_info("Designer", "Scholastic Inc.", "http://la.scholastic.com/en", "Sept 2017")
						

						+case_description("This type-driven cover needed a strong nod to the original film, but also a distinctive approach to indicate that it’s a new release -the first novelization of the 2004 film written by Tina Fey and Rosalind Wiseman. I choose to play with the logotype of the movie, but using color as the driving factor. The characters are silhouetted to position them at an iconic level.", "https://www.amazon.com/dp/1338087568")


					._project-details
						+case_detailview("mg/MG02.jpg", "Mean Girls book details", "middle", "firstload-mobile")
						+case_detailview("mg/MG03.jpg", "Mean Girls book details", "")

						+case_credits(
							{role: 'Author', url: 'http://www.micolostow.com/', name: 'Micol Ostow'}
						)


						+case_detailview("mg/MG04.jpg", "Mean Girls book details", "")

					+case_moreinfo(
						"Designer",
						"Scholastic Inc.",
						"http://la.scholastic.com/en",
						"Sept 2017",
						"This type-driven cover needed a strong nod to the original film, but also a distinctive approach to indicate that it’s a new release -the first novelization of the 2004 film written by Tina Fey and Rosalind Wiseman. I choose to play with the logotype of the movie, but using color as the driving factor. The characters are silhouetted to position them at an iconic level.",
						"https://www.amazon.com/dp/1338087568",
						{
							role: 'Author',
							url: 'http://www.micolostow.com/',
							name: 'Micol Ostow'
						}
					)


				+case_nextproject('O Homem Razoável', 'o-homem-razoavel.html')

				

	//- +case_preloader("Mean Girls")
	#case-preloader.case-preloader
		.content-grid
			.inner-wrap 
				h2#nextTitle.goTo.hide
					span.transition M
					span.transition e
					span.transition a
					span.transition n
					span.transition.title-space 
					span.transition.mg-G G
					span.transition i
					span.transition r
					span.transition l
					span.transition s














