extends templates/layout.jade

include _modules/_mixins-cases.jade

block title
	title Movetes | Suzanne LaGasa

block content
	include _modules/nav-menu.jade
	+nav-menu("work")

	#mov-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			.content-grid
				.page-name.top.back.change-page
					a(href="index.html" title="Return to projects").cascade-mask
						.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Back

				.case-wrap
					+case_title("Movetes")
					+case_cover("m/M01.jpg", "Movetes cover")


					._info
						+case_info("Art Director", "Founder Maureen Carruthers", "https://movetes.com/", "2016")
						

						+case_description("As a newcomer in the golf apparel industry, Movetes needed a distinctive identity to establish their positioning in luxury leisure fashion. Their logo was inspired by Swiss design, using minimal, bold typography for a modern spirit and color blocking to communicate athleticism in a timeless language.", "https://movetes.com/", "Visit the site")

					._inspiration
						h5.subtitle.col-10.ofmet-1.cascade-mask
							span.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Sketches

						.images-container.col-12
							.single-img
								+case_detailview("m/M02.jpg", "Movetes book details", "middle", "firstload-mobile")

					._project-details
						+case_detailview("m/M03.jpg", "Movetes book details", "middle")
						+case_detailview("m/M04.jpg", "Movetes book details", "")

					+case_moreinfo_branding(
						"Art Director",
						"Founder Maureen Carruthers",
						"https://movetes.com/",
						"2016",
						"As a newcomer in the golf apparel industry, Movetes needed a distinctive identity to establish their positioning in luxury leisure fashion. Their logo was inspired by Swiss design, using minimal, bold typography for a modern spirit and color blocking to communicate athleticism in a timeless language.",
						"https://movetes.com/"
					)


				+case_nextproject('Speech Tank', 'speech-tank.html')

	//- +case_preloader("Movetes")
	#case-preloader.case-preloader
		.content-grid
			.inner-wrap 
				h2#nextTitle.goTo.hide
					span.transition M
					span.transition o
					span.transition.m-v v
					span.transition e
					span.transition t
					span.transition e
					span.transition s














