extends templates/layout.jade

include _modules/_mixins-cases.jade

block title
	title O Homem Razoável | Suzanne LaGasa

block content
	include _modules/nav-menu.jade
	+nav-menu("work")

	#ohr-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			.content-grid
				.page-name.top.back.change-page
					a(href="index.html" title="Return to projects").cascade-mask
						.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Back

				.case-wrap
					+case_title("O Homem Razoável")
					+case_cover("ohr/OHR01.jpg", "O Homem Razoável cover")


					._info
						+case_info("Designer", "CreateSpace", "https://www.createspace.com/", "June 2017")
						

						+case_description("For this collection of philosophical essays and cultural criticism, I explored various illustrations approaches with an editorial and psychological bent, to evoke the sense of intellectual curiosity. O Homem Razoável, takes it’s title from the legal term: a reasonable person / man a hypothetical person of legal fiction created by the courts. Therefore an universal, hypothetical “everyday” man is this the primary visual metaphor.", "https://www.amazon.com/dp/0995634521")


					._project-details
						+case_detailview("ohr/OHR02.jpg", "O Homem Razoável book details", "middle", "firstload-mobile")
						+case_detailview("ohr/OHR03.jpg", "O Homem Razoável book details", "middle")
						+case_detailview("ohr/OHR04.jpg", "O Homem Razoável book details", "middle")
						+case_detailview("ohr/OHR05.jpg", "O Homem Razoável book details", "")

						+case_credits(
							{role: 'Author', url: 'https://www.linkedin.com/in/jo-pires-o-brien-26799931/', name: 'Joaquina Pires-O’Brien'}
						)
									

						+case_detailview("ohr/OHR06.jpg", "O Homem Razoável book details", "")

					+case_moreinfo(
						"Designer",
						"CreateSpace",
						"https://www.createspace.com/",
						"June 2017",
						"For this collection of philosophical essays and cultural criticism, I explored various illustrations approaches with an editorial and psychological bent, to evoke the sense of intellectual curiosity. O Homem Razoável, takes it’s title from the legal term: a reasonable person / man a hypothetical person of legal fiction created by the courts. Therefore an universal, hypothetical “everyday” man is this the primary visual metaphor.",
						"https://www.amazon.com/dp/0995634521",
						{
							role: 'Author',
							url: 'https://www.linkedin.com/in/jo-pires-o-brien-26799931/',
							name: 'Joaquina Pires-O’Brien'
						}
					)


				+case_nextproject('Farrah Sit', 'farrah-sit.html')

	//- +case_preloader("O Homem Razoável")
	#case-preloader.case-preloader
		.content-grid
			.inner-wrap 
				h2#nextTitle.goTo.hide
					span.transition O
					span.transition.title-space 
					span.transition.ohm-H H
					span.transition o
					span.transition m
					span.transition e
					span.transition m
					span.transition.title-space 
					span.transition.ohm-R R
					span.transition a
					span.transition z
					span.transition o
					span.transition á
					span.transition.ohm-v v
					span.transition e
					span.transition l









