extends templates/layout.jade

include _modules/_mixins-cases.jade

block title
	title One Day's Tale – Suzanne LaGasa | Art Director & Graphic Designer

block description
	meta(name='description', content="This powerful novel about a harrowing ordeal that an 18th Century British woman endures while traveling to America with her husband and children needed a striking cover with a contemporary perspective. I chose to focus on the beauty and mystery of a protagonist undergoing a massive transformation during a sea voyage. The scene and clothing give the novel context, while the colors and typography are meant to give the book a modern sensibility. The cover illustration is mixed media (paint over collage).")

block og_meta
	meta(property="og:title" 		content="One Day's Tale — designed by Suzanne LaGasa | Art Director & Graphic Designer")
	meta(property="og:description" 	content="This powerful novel about a harrowing ordeal that an 18th Century British woman endures while traveling to America with her husband and children needed a striking cover with a contemporary perspective. I chose to focus on the beauty and mystery of a protagonist undergoing a massive transformation during a sea voyage. The scene and clothing give the novel context, while the colors and typography are meant to give the book a modern sensibility. The cover illustration is mixed media (paint over collage).")
	meta(property="og:url" 			content="https://www.lagasa.com/one-days-tale.html")

block keywords
	meta(name='keywords', content="Suzanne LaGasa, Suzanne, LaGasa, Suze, Suze LaGasa, portfolio, webfolio, official, website, official website, lagasa.com, work, one day's tale, one days tale, one day tale, novel, design, designer, graphic design, art director, art direction, art, director, direction, book, books, book design, book designer, austin lamp press, austin lamp, austin press, austin, lois barliant, lois, barliant, mixed media, paint over collage, paint, collage, fiction, non-fiction, non fiction, nonfiction, children, childrens, publishing, cover, covers, book cover, book covers, book cover design, creative collaborations, storytelling")

block content
	include _modules/nav-menu.jade
	+nav-menu("work")

	#odt-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			//- .tester-cntnr
				.grid-tester
					.row
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols

			.content-grid
				.page-name.top.back.change-page
					a(href="index.html" title="Return to projects").cascade-mask
						.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Back

				.case-wrap
					+case_title("One Day's Tale")
					+case_cover("odt/ODT01.jpg", "One Day's Tale cover")


					._info
						+case_info("Designer", "Austin Lamp Press", "https://www.bookdepository.com/publishers/Austin-Lamp-Press", "Jan 2016")
						

						+case_description("This powerful novel about a harrowing ordeal that an 18th Century British woman endures while traveling to America with her husband and children needed a striking cover with a contemporary perspective. I chose to focus on the beauty and mystery of a protagonist undergoing a massive transformation during a sea voyage. The scene and clothing give the novel context, while the colors and typography are meant to give the book a modern sensibility. The cover illustration is mixed media (paint over collage).", "https://www.amazon.com/dp/0986245100/")


					._inspiration
						.tbh.images-container.col-mob-12.col-6
							h5.subtitle.offset-mob-0.col-10.offset-2.cascade-mask
								span.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Inspiration / Concepts

							.single-img.thirtyeight-7.offset-mob-0.offset-2.top-align
								.single-img.col-12.mb-80
									.mbrt-cascade.firstload-mobile(data-cascade="stretch-up" data-cascade-delay="1" data-cascade-delay-mobile="0")
										img(src="img/proj/odt/02_insp_2.jpg", alt="Inspiration of Never Let Me Go book cover")

								.single-img.col-12
									.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="1" data-cascade-delay-mobile="0")
										img(src="img/proj/odt/02_insp_4.jpg", alt="Inspiration of The Immoralist book cover")

							.single-img.thirtyeight-7.top-align.offset-five-7.mb-15-mob
								.single-img.col-mob-10.col-12.mb-80
									.mbrt-cascade.firstload-mobile(data-cascade="stretch-up" data-cascade-delay="2" data-cascade-delay-mobile="0")
										img(src="img/proj/odt/02_insp_3.jpg", alt="Inspiration of Norwegian Wood by Haruki Murakami book cover")

								.single-img.col-mob-8.offset-mob-4.col-12.mb-71
									.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="2" data-cascade-delay-mobile="0")
										img(src="img/proj/odt/02_insp_5.jpg", alt="Inspiration of vintage lady portrait")

								.single-img.col-mob-10.col-12
									.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="1" data-cascade-delay-mobile="0")
										img(src="img/proj/odt/02_insp_6.jpg", alt="Inspiration of vintage women clothing")

						.tbh.images-container.col-mob-12.col-6
							.single-img.mb-80-desk.col-mob-5.col-8.offset-mob-0.offset-2
								.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="3" data-cascade-delay-mobile="0")
									img(src="img/proj/odt/02_insp_1.jpg", alt="Inspiration of vintage illustrations")

							.single-img.offset-mob-0.offset-2.sixty-1
								.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="1" data-cascade-delay-mobile="0")
									img(src="img/proj/odt/02_insp_7.jpg", alt="Inspiration of illustrated portrait")


					._project-details
						+case_detailview("odt/ODT03.jpg", "One Day's Tale book details", "middle")
						+case_detailview("odt/ODT04.jpg", "One Day's Tale book details", "")
						
						+case_credits(
							{role: 'Author', url: 'http://loisbarliant.com/', name: 'Lois Barliant'}
						)

						+case_detailview("odt/ODT05.jpg", "One Day's Tale book details", "")

					+case_moreinfo(
						"Designer",
						"Austin Lamp Press",
						"https://www.bookdepository.com/publishers/Austin-Lamp-Press",
						"Jan 2016",
						"This powerful novel about a harrowing ordeal that an 18th Century British woman endures while traveling to America with her husband and children needed a striking cover with a contemporary perspective. I chose to focus on the beauty and mystery of a protagonist undergoing a massive transformation during a sea voyage. The scene and clothing give the novel context, while the colors and typography are meant to give the book a modern sensibility. The cover illustration is mixed media (paint over collage).",
						"https://www.amazon.com/dp/0986245100/",
						{
							role: 'Author',
							url: 'http://loisbarliant.com/',
							name: 'Lois Barliant'
						}
					)


				+case_nextproject('Brooklyn Spaces', 'brooklyn-spaces.html')

	//- +case_preloader("One Day's Tale")
	#case-preloader.case-preloader
		.content-grid
			.inner-wrap 
				h2#nextTitle.goTo.hide
					span.transition O
					span.transition n
					span.transition e
					span.transition.title-space 
					span.transition.odt-D D
					span.transition a
					span.transition y
					span.transition.left1.odt-symbol '
					span.transition.odt-s s
					span.transition.title-space 
					span.transition.odt-T T
					span.transition a
					span.transition l
					span.transition e








