extends templates/layout.jade

include _modules/_mixins-cases.jade

block title
	title One Day's Tale | Suze LaGasa

block content
	include _modules/nav-menu.jade

	#trb-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			.content-grid

				.case-wrap
					+case_title("One Day's Tale")
					+case_cover("odt/ODT01.jpg", "One Day's Tale cover")


					._info
						+case_info("Design", "Austin Lamp Press", "https://www.ipgbook.com/austin-lamp-press-publisher-ALA.phpen", "Jan 2016")
						

						+case_description("This powerful novel about a harrowing ordeal that an 18th Century British woman endures while traveling to America with her husband and children needed a striking cover with a contemporary perspective. I chose to focus on the beauty and mystery of a protagonist undergoing a massive transformation during a sea voyage. The scene and clothing give the novel context, while the colors and typography are meant to give the book a modern sensibility. The cover illustration is mixed media (paint over collage).", "https://www.amazon.com/dp/0986245100/")

					._project-details
						+case_detailview("odt/ODT03.jpg", "One Day's Tale book details", "middle")
						+case_detailview("odt/ODT04.jpg", "One Day's Tale book details", "")
						
						+case_credits(
							{role: 'Author', url: 'http://loisbarliant.com/', name: 'Lois Barliant'}
						)

						+case_detailview("odt/ODT05.jpg", "One Day's Tale book details", "")


				+case_nextproject('Brooklyn Spaces', 'brooklyn-spaces.html')

