extends templates/layout.jade

include _modules/_mixins-cases.jade

block title
	title One Day's Tale | Suze LaGasa

block content
	include _modules/nav-menu.jade
	+nav-menu("work")

	#odt-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			.content-grid

				.case-wrap
					+case_title("One Day's Tale")
					+case_cover("odt/ODT01.jpg", "One Day's Tale cover")


					._info
						+case_info("Designer", "Austin Lamp Press", "https://www.bookdepository.com/publishers/Austin-Lamp-Press", "Jan 2016")
						

						+case_description("This powerful novel about a harrowing ordeal that an 18th Century British woman endures while traveling to America with her husband and children needed a striking cover with a contemporary perspective. I chose to focus on the beauty and mystery of a protagonist undergoing a massive transformation during a sea voyage. The scene and clothing give the novel context, while the colors and typography are meant to give the book a modern sensibility. The cover illustration is mixed media (paint over collage).", "https://www.amazon.com/dp/0986245100/")


					._inspiration
						.tbh.images-container.col-6
							h5.subtitle.col-10.offset-2 Inspiration / Concepts

							.single-img.thirtyeight-7.offset-2.top-align
								.single-img.col-12.mb-80
									img(src="img/proj/odt/02_insp_2.jpg", alt="")

								.single-img.col-12
									img(src="img/proj/odt/02_insp_4.jpg", alt="")

							.single-img.thirtyeight-7.top-align.offset-five-7
								.single-img.col-12.mb-80
									img(src="img/proj/odt/02_insp_3.jpg", alt="")

								.single-img.col-12.mb-71
									img(src="img/proj/odt/02_insp_5.jpg", alt="")

								.single-img.col-12
									img(src="img/proj/odt/02_insp_6.jpg", alt="")

						.tbh.images-container.col-6
							.single-img.mb-80.col-8.offset-2
								img(src="img/proj/odt/02_insp_1.jpg", alt="")

							.single-img.offset-2.sixty-1
								img(src="img/proj/odt/02_insp_7.jpg", alt="")


					._project-details
						+case_detailview("odt/ODT03.jpg", "One Day's Tale book details", "middle")
						+case_detailview("odt/ODT04.jpg", "One Day's Tale book details", "")
						
						+case_credits(
							{role: 'Author', url: 'http://loisbarliant.com/', name: 'Lois Barliant'}
						)

						+case_detailview("odt/ODT05.jpg", "One Day's Tale book details", "")


				+case_nextproject('Brooklyn Spaces', 'brooklyn-spaces.html')

				+case_moreinfo(
					"Designer",
					"Austin Lamp Press",
					"https://www.bookdepository.com/publishers/Austin-Lamp-Press",
					"Jan 2016",
					"This powerful novel about a harrowing ordeal that an 18th Century British woman endures while traveling to America with her husband and children needed a striking cover with a contemporary perspective. I chose to focus on the beauty and mystery of a protagonist undergoing a massive transformation during a sea voyage. The scene and clothing give the novel context, while the colors and typography are meant to give the book a modern sensibility. The cover illustration is mixed media (paint over collage).",
					"https://www.amazon.com/dp/0986245100/",
					{
						role: 'Author',
						url: 'http://loisbarliant.com/',
						name: 'Lois Barliant'
					}
				)

	+case_preloader("One Day's Tale")