extends templates/layout.jade

include _modules/_mixins-cases.jade

block title
	title The Rooftop Beekeper | Suze LaGasa

block content
	include _modules/nav-menu.jade
	+nav-menu("work")

	#trb-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			//- .test
			//- .tester-cntnr
				.grid-tester
					.row
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols
						.cols

			.content-grid
				//- include _modules/filters.jade
				.page-name.top.back.change-page
					a(href="index.html" title="Return to projects").cascade-mask
						.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Back

				.case-wrap
					+case_title("Rooftop Beekeeper")
					+case_cover("01_trb/TRB01.jpg", "Rooftop Beekeper cover")


					._info
						+case_info("Designer & Art Director", "Chronicle Books", "https://www.chroniclebooks.com/", "Feb 2014")
						
						+case_description("This urban beekeeping book needed to be both a practical how to guide and an attractive, gifteable object. The photography is interwoven with beautiful ilustrations by Japanese ilustrator, Masako Kubo. I used a hand drawn serif display font warmth, paired with sans serif body font for practically. It’s also soft cover book, but with flaps.", "https://www.amazon.com/Rooftop-Beekeeper-Scrappy-Keeping-Honeybees/dp/1452107580")


					._inspiration
						h5.subtitle.col-10.offset-mob-0.offset-1.cascade-mask
							span.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Inspiration

						.images-container.col-mob-6.offset-mob-0.col-5.offset-1
							.single-img.four60.push-bottom
								.mbrt-cascade.firstload-mobile(data-cascade="stretch-up" data-cascade-delay="1" data-cascade-delay-mobile="1")
									img(src="img/proj/01_trb/02_insp_1.jpg", alt="Inspiration of illustrated vegetables")

							.single-img.third.top-align
								.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="1" data-cascade-delay-mobile="1")
									img(src="img/proj/01_trb/02_insp_2.jpg", alt="Inspiration of illustrated rabbit")

							.single-img.forty
								.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="2" data-cascade-delay-mobile="1")
									img(src="img/proj/01_trb/02_insp_3.jpg", alt="Inspiration of The Adventure of Huckleberry Finn book cover")


						.images-container.col-5.col-mob-6
							.single-img.forty4.push-bottom.offset-mob-2
								.mbrt-cascade.firstload-mobile(data-cascade="stretch-up" data-cascade-delay="2" data-cascade-delay-mobile="1")
									img(src="img/proj/01_trb/02_insp_4.jpg", alt="Inspiration of people illustrations")

							.single-img.forty8.offset-mob-2
								.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="3" data-cascade-delay-mobile="1")
									img(src="img/proj/01_trb/02_insp_5.jpg", alt="Inspiration of abstract people illustrations")

							.single-img.four60
								.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="1" data-cascade-delay-mobile="1")
									img(src="img/proj/01_trb/02_insp_6.jpg", alt="Inspiration of more illustrations")



					._project-details
						+case_detailview("01_trb/TRB02.jpg", "The Rooftop Beekeper book details", "middle")

						+case_detailview("01_trb/TRB03.jpg", "The Rooftop Beekeper book details", "middle")
						+case_detailview("01_trb/TRB04.jpg", "The Rooftop Beekeper book details", "middle")
						+case_detailview("01_trb/TRB05.jpg", "The Rooftop Beekeper book details", "")

						+case_credits(
							{role: 'Author', url: 'https://megpaska.com/', name: 'Megan Paska'},
							{role: 'Photography', url: 'http://www.alexbrownphotography.com/', name: 'Alex Brown'},
							{role: 'Illustration', url: 'http://www.masakokubo.com/', name: 'Masako Kubo'}
						)
									

						+case_detailview("01_trb/TRB06.jpg", "The Rooftop Beekeper book details", "")

					+case_moreinfo(
						"Designer & Art Director",
						"Chronicle Books",
						"https://www.chroniclebooks.com/",
						"Feb 2014",
						"This urban beekeeping book needed to be both a practical how to guide and an attractive, gifteable object. The photography is interwoven with beautiful ilustrations by Japanese ilustrator, Masako Kubo. I used a hand drawn serif display font warmth, paired with sans serif body font for practically. It’s also soft cover book, but with flaps.",
						"https://www.amazon.com/Rooftop-Beekeeper-Scrappy-Keeping-Honeybees/dp/1452107580",
						{
							role: 'Author',
							url: 'https://megpaska.com/',
							name: 'Megan Paska'
						},
						{
							role: 'Photography',
							url: 'http://www.alexbrownphotography.com/',
							name: 'Alex Brown'
						},
						{
							role: 'Illustration',
							url: 'http://www.masakokubo.com/',
							name: 'Masako Kubo'
						})


				+case_nextproject('Walk in Faith', 'walk-in-faith.html')


	//- +case_preloader('Walk in Faith')

	//- +case_preloader('The Rooftop Beekeeper')
	#case-preloader.case-preloader
		.content-grid
			.inner-wrap 
				h2#nextTitle.goTo.hide
					//- span.transition T
					//- span.transition h
					//- span.transition e
					//- span.transition.title-space 
					span.transition R
					span.transition.trb-o1 o
					span.transition o
					span.transition f
					span.transition t
					span.transition o
					span.transition p
					span.transition.title-space 
					span.transition.trb-B B
					span.transition e
					span.transition e
					span.transition.trb-k k
					span.transition e
					span.transition e
					span.transition p
					span.transition e
					span.transition r













