extends templates/layout.jade

include _modules/_mixins-cases.jade

block title
	title The Rooftop Beekeper | Suze LaGasa

block content
	include _modules/nav-menu.jade
	+nav-menu("work")

	#trb-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			//- .test
			.content-grid
				//- include _modules/filters.jade
				h6.page-name.top.back
					a(href="#" title="Return to projects") Back

				.case-wrap
					+case_title("The Rooftop Beekeeper")
					+case_cover("01_trb/01_cover.jpg", "The Rooftop Beekeper cover")


					._info
						+case_info("Designer & Art Director", "Chronicle Books", "https://www.chroniclebooks.com/", "Feb 2014")
						

						.intro.col-6
							p 
								|This urban beekeeping book needed to be both a practical how to guide and an attractive, gifteable object. The photography is interwoven with beautiful ilustrations by Japanese ilustrator, 

								a(href="http://www.masakokubo.com/" target="_blank" data-label="Masako Kubo").p-mask-link.p-link-invert
									span.link Masako Kubo
								|. I used a hand drawn serif display font warmth, paired with sans serif body font for practically. It’s also soft cover book, but with flaps.

							a(href="https://www.amazon.com/Rooftop-Beekeeper-Scrappy-Keeping-Honeybees/dp/1452107580" target="_blank")._cta
								//- |Get the book
								|Book details
								span.link-arrow.black


					._inspiration
						h5.subtitle.col-10.offset-mob-0.offset-1 Inspiration

						.images-container.col-mob-6.offset-mob-0.col-5.offset-1
							.single-img.four60.push-bottom
								img(src="img/proj/01_trb/02_insp_1.jpg", alt="")

							.single-img.third.top-align
								img(src="img/proj/01_trb/02_insp_2.jpg", alt="")

							.single-img.forty
								img(src="img/proj/01_trb/02_insp_3.jpg", alt="")


						.images-container.col-5.col-mob-6
							.single-img.forty4.push-bottom.offset-mob-2
								img(src="img/proj/01_trb/02_insp_4.jpg", alt="")

							.single-img.forty8.offset-mob-2
								img(src="img/proj/01_trb/02_insp_5.jpg", alt="")

							.single-img.four60
								img(src="img/proj/01_trb/02_insp_6.jpg", alt="")



					._project-details
						+case_detailview("01_trb/03_trb.jpg", "The Rooftop Beekeper book details", "middle")

						+case_detailview("01_trb/04_trb.jpg", "The Rooftop Beekeper book details", "middle")
						+case_detailview("01_trb/05_trb.jpg", "The Rooftop Beekeper book details", "middle")
						+case_detailview("01_trb/06_trb.jpg", "The Rooftop Beekeper book details", "")

						+case_credits(
							{role: 'Author', url: 'https://megpaska.com/', name: 'Megan Paska'},
							{role: 'Photography', url: 'http://www.alexbrownphotography.com/', name: 'Alex Brown'},
							{role: 'Illustration', url: 'http://www.masakokubo.com/', name: 'Masako Kubo'}
						)
									

						+case_detailview("01_trb/07_trb.jpg", "The Rooftop Beekeper book details", "")


				+case_nextproject('Walk in Faith', 'walk-in-faith.html')

				+case_moreinfo(
					"Designer & Art Director",
					"Chronicle Books",
					"https://www.chroniclebooks.com/",
					"Feb 2014",
					"This urban beekeeping book needed to be both a practical how to guide and an attractive, gifteable object. The photography is interwoven with beautiful ilustrations by Japanese ilustrator, Masako Kubo. I used a hand drawn serif display font warmth, paired with sans serif body font for practically. It’s also soft cover book, but with flaps.",
					"https://www.amazon.com/Rooftop-Beekeeper-Scrappy-Keeping-Honeybees/dp/1452107580",
					{
						role: 'Author',
						url: 'https://megpaska.com/',
						name: 'Megan Paska'
					},
					{
						role: 'Photography',
						url: 'http://www.alexbrownphotography.com/',
						name: 'Alex Brown'
					},
					{
						role: 'Illustration',
						url: 'http://www.masakokubo.com/',
						name: 'Masako Kubo'
					})


	//- +case_preloader('Walk in Faith')
	+case_preloader('The Rooftop Beekeeper')

