extends templates/layout.jade

block title
	title The Rooftop Beekeper | Suze LaGasa

block content
	include _modules/nav-menu.jade

	#trb-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			.content-grid
				//- include _modules/filters.jade

				.case-wrap
					h1._title The Rooftop Beekeper
					._cover
						img(src="img/proj/01_trb/01_cover.jpg", alt="The Rooftop Beekeper cover")

					._info
						.details.col-4.offset-1
							.spec
								.label Role
								h2.role Art / Direction

							.spec
								.label Client
								a(href="#" target="_blank").p-link-invert
									h3.client Chronicle Books

							.spec
								h4.date Feb 2014

						.intro.col-6
							p 
								|This urban beekeeping book needed to be both a practical how to guide and an attractive, gifteable object. The photography is interwoven with beautiful ilustrations by Japanese ilustrator, 

								a(href="http://www.masakokubo.com/" target="_blank" data-label="Masako Kubo").p-mask-link.p-link-invert
									span.link Masako Kubo
								|. I used a hand drawn serif display font warmth, paired with sans serif body font for practically. It’s also soft cover book, but with flaps.

							a(href="https://www.amazon.com/Rooftop-Beekeeper-Scrappy-Keeping-Honeybees/dp/1452107580" target="_blank")._cta
								//- |Get the book
								|Book details
								span.link-arrow.black


					._inspiration
						h5.subtitle.col-10.offset-1 Inspiration
						.images-container.col-5.offset-1
							.single-img.four60.push-bottom
								img(src="img/proj/01_trb/02_insp_1.jpg", alt="")

							.single-img.third.top-align
								img(src="img/proj/01_trb/02_insp_2.jpg", alt="")

							.single-img.forty
								img(src="img/proj/01_trb/02_insp_3.jpg", alt="")


						.images-container.col-5
							.single-img.forty4.push-bottom
								img(src="img/proj/01_trb/02_insp_4.jpg", alt="")

							.single-img.forty8
								img(src="img/proj/01_trb/02_insp_5.jpg", alt="")

							.single-img.four60
								img(src="img/proj/01_trb/02_insp_6.jpg", alt="")

					._project-details
						.full-image.middle
							img(src="img/proj/01_trb/03_trb.jpg", alt="")

						.full-image.middle
							img(src="img/proj/01_trb/04_trb.jpg", alt="")

						.full-image.middle
							img(src="img/proj/01_trb/05_trb.jpg", alt="")

						.full-image
							img(src="img/proj/01_trb/06_trb.jpg", alt="")

						.credits-container.col-5.offset-7
							h5.subtitle Credits
							ul.people-list
								li
									span.role Author
									a(href="#" target="_blank").who.p-link-invert Megan Paska

								li
									span.role Photography
									a(href="#" target="_blank").who.p-link-invert Alex Brown
									
								li
									span.role Illustration
									a(href="#" target="_blank").who.p-link-invert Masako Kubo
									

						.full-image
							img(src="img/proj/01_trb/07_trb.jpg", alt="")

				footer.next-project
					h5.subtitle Next Project
					h2.title
						a(href="#") Walk in Faith

					.back-top Back to top




