extends templates/layout.jade

include _modules/_mixins-cases.jade

block title
	title Walk in Faith | Suze LaGasa

block content
	include _modules/nav-menu.jade
	+nav-menu("work")

	#wif-wrapper.cases-page.page-wrapper.has-menu
		.inner-wrapper
			.content-grid
				//- include _modules/filters.jade
				h6.page-name.top.back
					a(href="index.html" title="Return to projects") Back

				.case-wrap
					+case_title("Walk in Faith")
					+case_cover("wif/WIF01.jpg", "Walk in Faith cover")


					._info
						+case_info("Designer & Art Director", "Callisto Media", "https://www.callistomedia.com/", "March 2019")
						

						+case_description("The design of Walk in Faith was inspired by sneaker fashion and trends in sports culture and advertising. It’s a graphic mix of bold typography and abstract patterns. The result is a vibrant and energetic cover embracing the complexity of religious philosophy without resorting to religious or teenage cliches.", "https://www.amazon.com/Walk-Faith-5-Minute-Devotions-Teen/dp/1641522828/")




					._project-details
						+case_detailview("wif/WIF03.jpg", "Walk in Faith book details", "middle")

						+case_detailview("wif/WIF04.jpg", "Walk in Faith book details", "middle")
						+case_detailview("wif/WIF05.jpg", "Walk in Faith book details", "")

						+case_credits(
							{role: 'Author', url: 'https://twitter.com/AndyLDooley', name: 'Andy Dooley'},
							{role: 'Illustration', url: 'https://wieteszka.myportfolio.com/', name: 'Andrzej Wieteszka'}
						)
									

						+case_detailview("wif/WIF06.jpg", "Walk in Faith book details", "")

					+case_moreinfo(
						"Designer & Art Director",
						"Callisto Media",
						"https://www.callistomedia.com/",
						"March 2019",
						"The design of Walk in Faith was inspired by sneaker fashion and trends in sports culture and advertising. It’s a graphic mix of bold typography and abstract patterns. The result is a vibrant and energetic cover embracing the complexity of religious philosophy without resorting to religious or teenage cliches.",
						"https://www.amazon.com/Walk-Faith-5-Minute-Devotions-Teen/dp/1641522828/",
						{
							role: 'Author',
							url: 'https://twitter.com/AndyLDooley',
							name: 'Andy Dooley'
						},
						{
							role: 'Illustration',
							url: 'https://wieteszka.myportfolio.com/',
							name: 'Andrzej Wieteszka'
						}
					)


				+case_nextproject('TBH', 'tbh.html')

	//- +case_preloader('TBH')

	//- +case_preloader('Walk in Faith')
	#case-preloader.case-preloader
		.content-grid
			.inner-wrap 
				h2#nextTitle.goTo.hide
					span.transition W
					span.transition.wif-a1.left-4-desk a
					span.transition l
					span.transition k
					span.transition.title-space 
					span.transition.wif-i1.left1-768 i
					span.transition n
					span.transition.title-space 
					span.transition.wif-F.left1-768 F
					span.transition a
					span.transition i
					span.transition t
					span.transition h









