doctype html
html(class='no-js' lang="en")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')

		block title
			title Suzanne LaGasa | Art Director & Graphic Designer

		//- metatags
		block description
			meta(name='description', content="Searching for a kinder, gentler, more beautiful world. Contributing to that vision through book design, creative collaborations, a love of color, and the many enchanting possibilities of storytelling.")

		block keywords
			meta(name='keywords', content="Suzanne LaGasa, Suzanne, LaGasa, Suze, Suze LaGasa, portfolio, webfolio, official, website, official website, lagasa.com, foreword, design, designer, graphic design, art director, art direction, art, director, direction, book, books, book design, book designer, brand, branding, brand identity, brand designer, fiction, non-fiction, non fiction, nonfiction, children, childrens, publishing, cover, covers, book cover, book covers, book cover design, creative collaborations, storytelling")

		meta(name='author', content="Suzanne LaGasa & Mandelbrot Studio")
				
		link(rel="icon" type="image/png" href="./favicon-32x32.png")

		//- Share graphs for social media
		meta(property="og:type" 		content="website")
		meta(property="og:image" 		content="https://lagasa.com/SuzeShareGraph.jpg")

		block og_meta
			meta(property="og:title" 		content="Suzanne LaGasa | Art Director & Graphic Designer")
			meta(property="og:description" 	content="Searching for a kinder, gentler, more beautiful world. Contributing to that vision through book design, creative collaborations, a love of color, and the many enchanting possibilities of storytelling.")
			meta(property="og:url" 			content="https://lagasa.com/")
				

		meta(name="twitter:card" content="summary")

		//- stylesheets
		link(rel='stylesheet', href='css/app.css')

	body
		//- .halfScreen
		//- .test
		//- .tester-cntnr
			.grid-tester
				.row
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols

		//- content
		#main-wrapper
			//- Preloader
			#preloader
				//- h1 I'm the preloader

			block content

		//- #vertical-block
			p Rotate your device

		//- scripts
		//- script(rel="dns-prefetch" src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js")
		script(src='js/app.js')