doctype html
html(class='no-js' lang="en")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')

		block title
			title Suze LaGasa | Art Director & Graphic Designer

		//- metatags
		meta(name='description', content="Design portfolio for Suze LaGasa featuring book design (fiction, non-fiction and children's publishing) and visual indentity (logo and branding).")
		meta(name='keywords', content="book design, portfolio, Suzanne LaGasa, Suze LaGasa, LaGasa, graphic design, art direction, fiction, non-fiction, childrens, publishing, book, covers, interiors, branding, New York, NYC")
		meta(name='author', content="Suze LaGasa x Mandelbrot Studio")
				
		link(rel="icon" type="image/png" href="PLACE_YOUR_URL")

		//- Share graphs for social media
		meta(property="og:url" 			content="http://lagasa.com/")
		meta(property="og:type" 		content="website")
		meta(property="og:title" 		content="Suze LaGasa | Art Director & Graphic Designer")
		meta(property="og:description" 	content="Design portfolio for Suze LaGasa featuring book design (fiction, non-fiction and children's publishing) and visual indentity (logo and branding).")
				
		meta(property="og:image" 		content="PLACE_YOUR_IMAGE_URL")

		meta(name="twitter:card" content="summary")

		//- stylesheets
		link(rel='stylesheet', href='css/app.css')

	body
		//- .test
		//- .tester-cntnr
			.grid-tester
				.row
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols
					.cols

		//- content
		#main-wrapper
			//- Preloader
			#preloader
				//- h1 I'm the preloader

			block content

		#vertical-block
			p Rotate your device

		//- scripts
		script(rel="dns-prefetch" src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js")
		script(rel='preload' src='js/app.js' as='script')